<div class="box-item" >

  <div class="imgbook">
    <div class="sideBox">
      <span class="leftSide"></span>
     
      <img src="{{ item.anhDaiDien }}" alt="" nz-popover [nzPopoverTitle]="titleTemplate" [nzPopoverContent]="contentTemplate" />
    
    </div>
    <span>{{ item.tieuDe }}</span>
  </div>


<ng-template #titleTemplate>
  {{ item.tieuDe }}
</ng-template>
<ng-template #contentTemplate>
  <div class="books-info">
    <p>{{'dkcb'|translate}}: <span>{{ item.maDkcb }}</span></p>
    <p>{{'borrowed_date'|translate}}: <span>{{ item.ngayGhiMuon }}</span></p>
    <p>{{'payment_deadline'|translate}}: <span>{{ item.ngayTraDuKien }}</span></p>
    <p>{{'overdue'|translate}}: <span>{{ item.quaHanSoNgay }}</span></p>
    <p>{{'format'|translate}}: <span>{{ item.moTaVatLy }}</span></p>
  <a [routerLink]="['/tai-lieu', item?.bmTaiLieuId]"> {{'details'|translate}}</a>
  </div>
</ng-template>
  
</div>