$color_1: #fff;
$color_2: rgba(5, 34, 74, 1);
$background-color_1: #fff;

.navbar {
  background-color: $background-color_1 !important;
  .navbar-brand {
    margin: 0;
    padding: 0;
    img {
      min-width: 140px;
    }
  }
}
.rightBar {
  gap: 25px;
  .loginBtn {
    background: rgba(0, 74, 173, 1);
    color: $color_1;
    margin: 0 !important;
    font-size: 14px;
  }
}
.languages {
  a {
    img {
      width: 45px;
    }
  }
}
.topmenu {
  .navbarNav {
    ul {
      li {
        a {
          font-size: 16px;
          color: $color_2 !important;
          font-weight: 700;
          border-right: solid 1px rgba(6, 35, 76, 0.2);
          padding-right: 1rem;
          padding-left: 1rem;
        }
        &:last-child {
          a {
            border: none;
          }
        }
      }
    }
  }
}
.navbar-expand-lg {
  .navbar-nav {
    .nav-link {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 100%;
  }
  .navbar-expand-lg {
    .navbar-nav {
      .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
    }
  }
}

.btn-language {
  border: none;
  padding: 0;
  background: none;
  opacity: 0.5;
  &.lang-active{
    opacity: 1;
  }
}
