<header class="header">
  <nav class="topmenu navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <!-- Logo bên phải -->
      <a class="navbar-brand order-lg-1" href="#">
        <img src="images/logo/logo-slibk12.svg" alt="Logo" />
      </a>

      <!-- Button toggle trên mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Menu ở giữa -->
      <div class="collapse navbarNav navbar-collapse order-lg-2" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item" [class.active]="isActiveRoute('home')">
            <a class="nav-link" routerLink="/">{{'home'|translate}}</a>
          </li>
          <li class="nav-item" [class.active]="isActiveRoute('introduction')">
            <a class="nav-link" routerLink="/introduction">{{'introduction'|translate}}</a>
          </li>
          <li class="nav-item" [class.active]="isActiveRoute('news')">
            <a class="nav-link" routerLink="/news">{{'news'|translate}}</a>
          </li>
          <li class="nav-item" [class.active]="isActiveRoute('good_books')">
            <a class="nav-link" routerLink="/good_books">{{'good_books'|translate}}</a>
          </li>
          <li class="nav-item" [class.active]="isActiveRoute('borrow_from_lien_tv')">
            <a class="nav-link" routerLink="/borrow_from_lien_tv">{{'borrow_from_lien_tv'|translate}}</a>
          </li>
          <li class="nav-item" [class.active]="isActiveRoute('contact')">
            <a class="nav-link" routerLink="/contact">{{'contact'|translate}}</a>
          </li>
        </ul>
      </div>

      <!-- Button bên phải -->
      <div class="rightBar d-flex align-items-center order-lg-3">
        <button class="loginBtn btn btn-outline-primary me-2">{{'login' | translate}}</button>
        <div class="d-flex languages">
          <!-- <button type="button" (click)="setLanguage('en-US')" class="me-2">
            <img src="images/icon-en.png" alt="English" />
          </button>
          <button type="button" (click)="setLanguage('vi-VN')">
            <img src="images/icon-vi.png" alt="Vietnamese" />
          </button> -->
          <!-- <div class="logo-text">{{'Home' | translate}}</div> -->
          <!-- <button type="button" [class]="'btn-language' + (currentLang == 'en' ? ' lang-active' : '')"
            (click)="switchLanguage('en')">
            <img src="images/icon-en.png" alt="English" />
          </button>
          <button type="button" [class]="'btn-language' + (currentLang == 'vi' ? ' lang-active' : '')"
            (click)="switchLanguage('vi')">
            <img src="images/icon-vi.png" alt="Vietnamese" />
          </button> -->
          <nz-select ngModel="lucy">
            <nz-option nzValue="jack" nzLabel="Jack">1</nz-option>
            <nz-option nzValue="lucy" nzLabel="Lucy">2</nz-option>
          </nz-select>
          <div class="d-flex languages">
            <form>
              <div class="mbForm">
                <select class="form-select" id="languageSelect" name="language">
                  <option value="vi">Tiếng Việt</option>
                  <option value="en">Tiếng Anh</option>
                </select>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>