<app-home-search-advanced></app-home-search-advanced>
<div class="list_book_search modalStand">
  <div class="container">
    <div class="wrap-flex">
      <div class="modalStand_box">
        <div class="title-result">
        </div>
        <div class="advSearch">
          <h3>Tiêu chí lọc</h3>
          <div class="widget_searchAdv">
            <h3>Bộ sách</h3>
            <form>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="book" id="bookCanhDieu" value="canh-dieu">
                <label class="form-check-label" for="bookCanhDieu">
                  Cánh diều
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="book" id="bookChanTroi" value="chan-troi-sang-tao">
                <label class="form-check-label" for="bookChanTroi">
                  Chân trời sáng tạo
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="book" id="bookKetNoi" value="ket-noi-tri-thuc">
                <label class="form-check-label" for="bookKetNoi">
                  Kết nối tri thức
                </label>
              </div>
            </form>
          </div>
          <div class="widget_searchAdv">
            <h3>Loại tài liệu</h3>
            <form>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="documentType" id="docSachGiaoKhoa"
                  value="sach-giao-khoa">
                <label class="form-check-label" for="docSachGiaoKhoa">
                  Sách giáo khoa
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="documentType" id="docSachThamKhao"
                  value="sach-tham-khao">
                <label class="form-check-label" for="docSachThamKhao">
                  Sách tham khảo
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="documentType" id="docSachNghiepVu"
                  value="sach-nghiep-vu">
                <label class="form-check-label" for="docSachNghiepVu">
                  Sách nghiệp vụ
                </label>
              </div>
            </form>
          </div>

        </div>
      </div>
      <div class="modalStand_box">
        <div class="box_result_book">
          @for (item of documents; track $index) {
          <app-book-item [book]="item"></app-book-item>
          }
          <!-- @for (item of documents; track $index) {
          <div class="box_item">
            <a [routerLink]="['/documents', item.id]">
              <p>
                <img [src]="item.anhDaiDien" alt="Book 1">
                <span class="leftSideBookSearch"></span>
              </p>
              <span class="title">{{item.tieuDe}}</span>
            </a>
          </div>
          } -->
        </div>
        <div class="page_sort_item">
          <div class="item_page_detail">
            <div class="d-flex align-items-center groupSelect">
              <label for="numberSelect" class="form-label">Hiển thị</label>
              <nz-select [(ngModel)]="pageSizes" (ngModelChange)="changePageSize($event)" id="numberSelect">
                @for (size of sizeItems; track $index) {
                <nz-option [nzValue]="size" [nzLabel]="size"></nz-option>
                }
              </nz-select>
            </div>
          </div>
          <div class="item_page_detail">
            <div class="showPage">
              <span>1/10</span>
              <button class="btn pre-btn" type="button">
                <span class="btnPre" aria-label="Previous">‹</span>
              </button>
              <button class="btn next-btn active" type="button">
                <span class="btnPre" aria-label="Next">›</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>