.box-info-detail {
	margin-top: 90px;
	h2 {
		font-size: 25px;
		margin-bottom: 30px;
	}
}
.img-itemColumnInfo {
	p {
		img {
			width: 50%;
		}
	}
	img {
		width: 50%;
	}
}

.itemColumnInfo img {
	width: 50%;
}