<div class="box-stand pt-0 ">
  <div class="container">
    <div class="bookCategories">
      <h2 class="the-title flex justify-between items-center ">
        <span class="uppercase">Video</span>
        <a href="/news?qtndTtNhomTinTucId={{tinVideoDefault}}" class="viewmore text-blue-600 hover:underline">{{'view_more'|translate}}</a>
      </h2>

      <owl-carousel-o [options]="customOptions" 
                      (translated)="getPassedData($event)" 
                      (change)="getChangeData($event)"
                      (changed)="getChangedData($event)" 
                      #owlCar class="mt-6 videosBox">
        @for (item of simpleData; track item.id) {
        <ng-template carouselSlide [id]="item.id">
          <div class="item-books-4 bg-white rounded-lg p-2 flex flex-col hover:shadow-lg transition" style="margin-bottom: 5px;">
            <div class="w-full">
              <iframe 
                class="w-full rounded-lg" 
                height="180" 
                [src]="item.video" 
                title="YouTube video player" 
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen>
              </iframe>
            </div>
            <div class="w-full text-left px-1">
              <a href="/news/{{item.id}}">
              <h3 class="text-base font-medium text-gray-800 truncate" title="{{item.title}}">
                {{ item.title }}
              </h3>
              <p class="text-sm text-gray-500 mt-1">
                <i class="far fa-calendar-alt mr-1"></i>{{ item.ngayDangTin }}
              </p>
              <p class="text-sm mt-1">
                {{item.moTa}}
              </p>
              </a>
            </div>
          </div>
        </ng-template>
        }
      </owl-carousel-o>
    </div>
  </div>
</div>
