<!-- <div class="box-stand pt-0">
  <div class="container">
    <div class="bookCategories">
      <h2 class="the-title">{{title}}</h2>
      <div class="mt-20 bookSlider owl-carousel">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="item-books-1 item-stand">
              <a href="#">
                <p><img src="img/imageBook/B1.jpg" alt="book 1"></p>
                <span>Cat and Dog: Mud</span>
              </a>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="item-books-1 item-stand">
              <a href="#">
                <p><img src="img/imageBook/B2.jpg" alt="book 1"></p>
                <span>Cat and Dog: Mud</span>
              </a>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="item-books-1 item-stand">
              <a href="#">
                <p><img src="img/imageBook/B3.jpg" alt="book 1"></p>
                <span>Cat and Dog: Mud</span>
              </a>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="item-books-1 item-stand">
              <a href="#">
                <p><img src="img/imageBook/B4.jpg" alt="book 1"></p>
                <span>Cat and Dog: Mud</span>
              </a>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="item-books-1 item-stand">
              <a href="#">
                <p><img src="img/imageBook/B5.jpg" alt="book 1"></p>
                <span>Cat and Dog: Mud</span>
              </a>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="item-books-1 item-stand">
              <a href="#">
                <p><img src="img/imageBook/B6.jpg" alt="book 1"></p>
                <span>Cat and Dog: Mud</span>
              </a>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div> -->
<owl-carousel-o [options]="customOptions">
  @for (item of items; track $index) {
    <ng-template carouselSlide>
      <div class="item-books-1 item-stand">
        <a href="#">
          <p><img src="images/imageBook/B1.jpg" alt="book 1"></p>
          <span>Cat and Dog: Mud</span>
        </a>
      </div>
    </ng-template>  
  }
</owl-carousel-o>