<div>
  <div [innerHTML]=" compactDetails"></div>
  <!-- {{ compactDetails }} -->
  @if (isShowMore) {
    <a (click)="showModal()">
      {{'see_more'|translate}}
    </a>
  }
  <nz-modal [(nzVisible)]="isVisible" nzTitle="" (nzOnCancel)="handleCancel()">
    <ng-container *nzModalContent>
      <div [innerHTML]=" details"></div>
      <!-- {{ details }} -->
    </ng-container>
    <div *nzModalFooter>
      <button nz-button nzType="primary" (click)="handleCancel()" >{{'close'|translate}}</button>
    </div>
  </nz-modal>
</div>
