<div class="bannerTop">
  <owl-carousel-o [options]="customOptions" (translated)="getPassedData($event)" (change)="getChangeData($event)"
    class="rousel bannerAuto" (changed)="getChangedData($event)" #owlCar>
    @for (item of carouselData(); track item.id) {
    <ng-template carouselSlide [id]="item.id" [width]="item.width">
      <div class="item-slide">
        <img src="./img/imageBanner/slider1.png" alt="slider 1">
        <div class="slider-content">
          <h1>Superhero Dads</h1>
          <p>Books about growing and learning with Dad.</p>
          <a href="#" class="btn btn-primary">Xem thêm <i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
    </ng-template>
    }
  </owl-carousel-o>
</div>