<div class="wrapp-contact">
  <div class="container">
    <div class="row-contact">
      <div class="col-sm-5">
        <div class="contact-form">
          <h2>Liên hệ với chúng tôi</h2>
          <p>Nếu bạn cần được hỗ trợ, hãy liên hệ với chúng tôi. Chúng tôi sẽ cố gắng phản hồi sớm nhất!</p>
          <form nz-form [formGroup]="validateForm" class="login-form formBox" (ngSubmit)="submitForm()">
            <nz-form-item class="form-group">
              <label><sup>(*)</sup>{{'library'|translate}}</label>
              <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                <select id="listBookLibary">
                  <option value="1">LHP: Thư viện lê hồng phong</option>
                  <option value="2">LHP: Thư viện lê hồng phong</option>
                  <option value="3">LHP: Thư viện lê hồng phong</option>
                </select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="form-group">
              <label><sup>(*)</sup>{{'full_name'|translate}}</label>
              <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                <input type="text" name="ho ten" placeholder="Nhập họ tên của bạn">
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="form-group">
              <label><sup>(*)</sup>{{'full_name'|translate}}</label>
              <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                <input type="text" name="Email" placeholder="Nhập email của bạn">
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="form-group">
              <label><sup>(*)</sup>{{'full_name'|translate}}</label>
              <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                <textarea rows="3" id="messaContact" placeholder="Nhập nội dung"></textarea>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="form-group">
              <label><sup>(*)</sup>{{'full_name'|translate}}</label>
              <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                <div class="capchaID">
                  <input type="" name="capcha" placeholder="Nhập mã xác nhận">
                  <img class="imgCapcha" src="images/capcha.png">
                  <a href="#"><i class="fa fa-rotate-right"></i></a>
                </div>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row class="form-group form-group-btn">
              <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <button nz-button class="btn btn-reset">{{'reset'|translate}}</button>
              </nz-form-control>
              <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <button nz-button class="btn btn-primary">{{'send_information'|translate}}</button>
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="rightContact">
          <img src="images/bg-contact.png">
        </div>
      </div>
    </div>
  </div>
</div>