<div class="wrapp-profile">
  <div class="container">
    <h2 class="the-title-profile">
      Hồ sơ cá nhân
    </h2>
    <div class="top-profile">
      <div class="user-box">
        <div class="avatar-user">
          <img src="img/imageBook/B8.jpg">
        </div>
        <div class="detail-profile-box">
          <p>Họ và tên: <span>Nguyễn Minh Châu</span></p>
          <p>Số thẻ: <span>NMN2024</span></p>
          <p>Lớp <span>2A1</span></p>
          <p>Niên khoá: <span>2024 - 2029</span></p>
          <p>Nhóm bạn đọc: <span>Học sinh</span></p>
          <p>Ngày hết hạn: <span>30/06/2029</span></p>
          <div class="btn-change-info">
            <button class="btn btn-secondary"><i class="fa fa-solid fa-lock"></i> Đổi mật khẩu</button>
            <button class="btn btn-danger"><i class="fa fa-arrow-circle-o-right"></i> Đăng xuất</button>
          </div>
        </div>
      </div>
      <div class="user-box">
        <div class="count-box">
          <h3>Tổng số sách đã mượn</h3>
          <div class="box-number">
            20
          </div>
        </div>
        <div class="count-box">
          <h3>Tổng số sách đã đọc</h3>
          <div class="box-number">
            20
          </div>
        </div>
      </div>
    </div>
    <div class="pt-5 documentBox">
      <h3>Tài liệu đang mượn <span>(5)</span></h3>
      <div class="box-item">
        <div class="imgbook">
          <div class="sideBox">
            <span class="leftSide"></span>
            <img src="img/imageBook/B8.jpg">
          </div>
          <span>The Princess and the Sunpati Flower</span>
        </div>
        <div class="books-info">
          <p>Ngày mượn: <span>12/12/2024</span></p>
          <p>Hạn trả: <span>17/12/2025</span></p>
          <p>Quá hạn: <span>05 ngày</span></p>
          <p>Định dạng: <span>Sách giấy</span></p>
        </div>
      </div>
      <div class="box-item">
        <div class="imgbook">
          <div class="sideBox">
            <span class="leftSide"></span>
            <img src="img/imageBook/B8.jpg">
          </div>
          <span>The Princess and the Sunpati Flower</span>
        </div>
        <div class="books-info">
          <p>Ngày mượn: <span>12/12/2024</span></p>
          <p>Hạn trả: <span>17/12/2025</span></p>
          <p>Quá hạn: <span>05 ngày</span></p>
          <p>Định dạng: <span>Sách giấy</span></p>
        </div>
      </div>
      <div class="box-item">
        <div class="imgbook">
          <div class="sideBox">
            <span class="leftSide"></span>
            <img src="img/imageBook/B8.jpg">
          </div>
          <span>The Princess and the Sunpati Flower</span>
        </div>
        <div class="books-info">
          <p>Ngày mượn: <span>12/12/2024</span></p>
          <p>Hạn trả: <span>17/12/2025</span></p>
          <p>Quá hạn: <span>05 ngày</span></p>
          <p>Định dạng: <span>Sách giấy</span></p>
        </div>
      </div>
    </div>

    <div class="pt-5 documentBox">
      <h3>Tài liệu đã mượn/đọc <span>(5)</span></h3>
      <div class="box-item">
        <div class="imgbook">
          <div class="sideBox">
            <span class="leftSide"></span>
            <img src="img/imageBook/B8.jpg">
          </div>
          <span>The Princess and the Sunpati Flower</span>
        </div>
        <div class="books-info">
          <p class="bookTitle">Suti's Mask</p>
          <p>Ngày mượn: <span>12/12/2024</span></p>
          <p>Hạn trả: <span>17/12/2025</span></p>
          <p>Quá hạn: <span>05 ngày</span></p>
          <p>Định dạng: <span>Sách giấy</span></p>
        </div>
      </div>
      <div class="box-item">
        <div class="imgbook">
          <div class="sideBox">
            <span class="leftSide"></span>
            <img src="img/imageBook/B8.jpg">
          </div>
          <span>The Princess and the Sunpati Flower</span>
        </div>
        <div class="books-info">
          <p class="bookTitle">Suti's Mask</p>
          <p>Ngày mượn: <span>12/12/2024</span></p>
          <p>Hạn trả: <span>17/12/2025</span></p>
          <p>Quá hạn: <span>05 ngày</span></p>
          <p>Định dạng: <span>Sách giấy</span></p>
        </div>
      </div>
      <div class="box-item">
        <div class="imgbook">
          <div class="sideBox">
            <span class="leftSide"></span>
            <img src="img/imageBook/B8.jpg">
          </div>
          <span>The Princess and the Sunpati Flower</span>
        </div>
        <div class="books-info">
          <p class="bookTitle">Suti's Mask</p>
          <p>Ngày mượn: <span>12/12/2024</span></p>
          <p>Hạn trả: <span>17/12/2025</span></p>
          <p>Quá hạn: <span>05 ngày</span></p>
          <p>Định dạng: <span>Sách giấy</span></p>
        </div>
      </div>
    </div>

    <div class="pt-5 documentBox">
      <h3>Tài liệu yêu thích <span>(5)</span></h3>
      <div class="box-item">
        <div class="imgbook">
          <div class="sideBox">
            <span class="leftSide"></span>
            <img src="img/imageBook/B8.jpg">
          </div>
          <span>The Princess and the Sunpati Flower</span>
        </div>
        <div class="books-info">
          <p class="bookTitle">Suti's Mask</p>
          <p>Ngày mượn: <span>12/12/2024</span></p>
          <p>Hạn trả: <span>17/12/2025</span></p>
          <p>Quá hạn: <span>05 ngày</span></p>
          <p>Định dạng: <span>Sách giấy</span></p>
        </div>
      </div>
      <div class="box-item">
        <div class="imgbook">
          <div class="sideBox">
            <span class="leftSide"></span>
            <img src="img/imageBook/B8.jpg">
          </div>
          <span>The Princess and the Sunpati Flower</span>
        </div>
        <div class="books-info">
          <p class="bookTitle">Suti's Mask</p>
          <p>Ngày mượn: <span>12/12/2024</span></p>
          <p>Hạn trả: <span>17/12/2025</span></p>
          <p>Quá hạn: <span>05 ngày</span></p>
          <p>Định dạng: <span>Sách giấy</span></p>
        </div>
      </div>
      <div class="box-item">
        <div class="imgbook">
          <div class="sideBox">
            <span class="leftSide"></span>
            <img src="img/imageBook/B8.jpg">
          </div>
          <span>The Princess and the Sunpati Flower</span>
        </div>
        <div class="books-info">
          <p class="bookTitle">Suti's Mask</p>
          <p>Ngày mượn: <span>12/12/2024</span></p>
          <p>Hạn trả: <span>17/12/2025</span></p>
          <p>Quá hạn: <span>05 ngày</span></p>
          <p>Định dạng: <span>Sách giấy</span></p>
        </div>
      </div>
    </div>

  </div>
</div>
