<div class="wrapp-profile">
  <div class="container">
    <h2 class="the-title-profile">
      {{'personal_profile'|translate}}
    </h2>
    <div class="top-profile">
      <div class="user-box">
        <div class="avatar-user">
          <img [src]="bdBanDocChiTiet?.anhDaiDien || '/img/imageUser/default.png'" alt="Ảnh đại diện" />
        </div>
        <div class="detail-profile-box">
          <p *ngIf="bdBanDocChiTiet?.hoTen">
            {{ 'full_name' | translate }}: <span>{{ bdBanDocChiTiet.hoTen }}</span>
          </p>

          <p *ngIf="bdBanDocChiTiet?.soThe">
            {{ 'card_number' | translate }}: <span>{{ bdBanDocChiTiet.soThe }}</span>
          </p>

          <p *ngIf="bdBanDocChiTiet?.mhDmLopHocTen">
            {{ 'class' | translate }}: <span>{{ bdBanDocChiTiet.mhDmLopHocTen }}</span>
          </p>

          <p *ngIf="bdBanDocChiTiet?.ngayBatDau && bdBanDocChiTiet?.ngayKetThuc">
            {{ 'school_year' | translate }}:
            <span>{{ getNam(bdBanDocChiTiet.ngayBatDau) }} - {{ getNam(bdBanDocChiTiet.ngayKetThuc) }}</span>
          </p>

          <p *ngIf="bdBanDocChiTiet?.bdNhomTen">
            {{ 'reading_group' | translate }}: <span>{{ bdBanDocChiTiet.bdNhomTen }}</span>
          </p>

          <p *ngIf="bdBanDocChiTiet?.ngayKetThuc">
            {{ 'expiration_date' | translate }}: <span>{{ bdBanDocChiTiet.ngayKetThuc }}</span>
          </p>

          <div class="btn-change-info">
            <a class="btn btn-secondary capitalize" [routerLink]="['/profile','change-password']"><i
                class="fa fa-solid fa-lock"></i> {{'change_password'|translate}}</a>
            <button class="btn btn-danger capitalize" type="button" (click)="logout()"><i
                class="fa-sharp fa-solid fa-right-from-bracket"></i> {{'log_out' | translate}}</button>
          </div>
        </div>
      </div>
      <div class="user-box">
        <div class="count-box">
          <h3>{{'total_number_of_books_borrowed'|translate}}</h3>
          <div class="box-number">
            {{ (this.$borrowedBooks | async)?.totalRecord }}
          </div>
        </div>
        <div class="count-box">
          <h3>{{'total_number_of_books_read'|translate}}</h3>
          <div class="box-number">
            {{ (this.$readBooks | async)?.totalRecord }}
          </div>
        </div>
      </div>
    </div>
    <div class="mt-10">
      <app-profile-document-list></app-profile-document-list>
    </div>
  </div>
</div>