<div class="searchBar">
  <div class="container">
    <div class="inputSearch d-flex">
      <form nz-form style="width: 100%;" [formGroup]="formBasicSearch" (keyup.enter)="submitBasicSearch()">
        <nz-form-item>
          <i class="fa-regular fa-magnifying-glass icon-search"></i>
          <input formControlName="tieuDe" type="text" class="form-control" placeholder="{{'search'|translate}}"
            [nzAutocomplete]="auto" autocomplete="off" nz-icon="search" nzSize="large">
        </nz-form-item>
        <nz-autocomplete #auto nzDefaultActiveFirstOption="false">
          @let options = $options | async;
          @for (option of options; track $index) {
          <nz-auto-option (keyup.enter)="handleSelect($event)" [nzValue]="'auto-complete|' + option.id"
            (click)="submitBasicSearch()">{{ option.tieuDe }}</nz-auto-option>
          }
        </nz-autocomplete>
      </form>
      <button class="btn btn-primary ms-2" nz-button [nzType]="'primary'" (click)="showModal()">
        <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="100%"
          preserveAspectRatio="none" class="" fill="rgba(255, 255, 255, 1)">
          <path d="M400-240v-60h160v60H400ZM240-450v-60h480v60H240ZM120-660v-60h720v60H120Z"></path>
        </svg>
      </button>
    </div>
  </div>
</div>
<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="('advanced_search' | translate)"
  [nzFooter]="modalFooter"
  [nzContent]="modalContent"
  [nzWidth]="'70vw'"
  [nzStyle]="{ top: '0px', 'max-height': '100vh' }"
  (nzOnCancel)="handleCancel()"
>
  <ng-template #modalContent>
    <div class="px-4 py-6">
      <form
        nz-form
        [formGroup]="formAdvanceSearch"
        (ngSubmit)="submitForm()"
        class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-6"
      >
        <!-- Tiêu đề -->
        <nz-form-item class="flex flex-col">
          <nz-form-label class="flex items-center gap-2 font-semibold text-gray-800">
            <i nz-icon nzType="file-text" class="text-blue-600"></i>
            {{ 'title' | translate }}
          </nz-form-label>
          <nz-form-control>
            <input
              type="text"
              nz-input
              formControlName="tieuDe"
              placeholder="{{ 'enter_title' | translate }}"
              class="w-full rounded-lg border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200"
            />
          </nz-form-control>
        </nz-form-item>

        <!-- Tác giả -->
        <nz-form-item class="flex flex-col">
          <nz-form-label class="flex items-center gap-2 font-semibold text-gray-800">
            <i nz-icon nzType="user" class="text-blue-600"></i>
            {{ 'author' | translate }}
          </nz-form-label>
          <nz-form-control>
            <input
              type="text"
              nz-input
              formControlName="tacGia"
              placeholder="{{ 'enter_author' | translate }}"
              class="w-full rounded-lg border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200"
            />
          </nz-form-control>
        </nz-form-item>

        <!-- Định dạng -->
        <nz-form-item class="flex flex-col">
          <nz-form-label class="flex items-center gap-2 font-semibold text-gray-800">
            <i nz-icon nzType="database" class="text-blue-600"></i>
            {{ 'format' | translate }}
          </nz-form-label>
          <nz-form-control>
            <nz-select
              formControlName="phamVi"
              nzPlaceHolder="{{ 'bmtailieuds_phamvi' | translate }}"
              class="w-full rounded-lg"
            >
              <nz-option nzValue="" nzLabel="{{ 'all' | translate }}"></nz-option>
              <nz-option nzValue="0" nzLabel="{{ 'bmtailieuds_print_documents' | translate }}"></nz-option>
              <nz-option nzValue="1" nzLabel="{{ 'bmtailieuds_digital_documents' | translate }}"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <!-- Kho -->
        <nz-form-item class="flex flex-col">
          <nz-form-label class="flex items-center gap-2 font-semibold text-gray-800">
            <i nz-icon nzType="folder-open" class="text-blue-600"></i>
            {{ 'bskho_kho' | translate }}
          </nz-form-label>
          <nz-form-control>
            <nz-select
              formControlName="bsKhoId"
              nzPlaceHolder="{{ 'bskho_kho' | translate }}"
              nzMode="multiple"
              [nzShowSearch]="true"
              class="w-full rounded-lg"
            >
              <nz-option
                *ngFor="let kho of bsKhos"
                [nzValue]="kho.id"
                [nzLabel]="kho.ten"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <!-- Loại tài liệu -->
        <nz-form-item class="flex flex-col">
          <nz-form-label class="flex items-center gap-2 font-semibold text-gray-800">
            <i nz-icon nzType="file-search" class="text-blue-600"></i>
            {{ 'document_type' | translate }}
          </nz-form-label>
          <nz-form-control>
            <nz-select
              formControlName="bmDmDangTaiLieuId"
              nzPlaceHolder="{{ 'document_type' | translate }}"
              nzMode="multiple"
              [nzShowSearch]="true"
              class="w-full rounded-lg"
            >
              <nz-option
                *ngFor="let dangtailieu of dangTaiLieu"
                [nzValue]="dangtailieu.id"
                [nzLabel]="dangtailieu.ten"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <!-- Bộ sách -->
        <nz-form-item class="flex flex-col">
          <nz-form-label class="flex items-center gap-2 font-semibold text-gray-800">
            <i nz-icon nzType="book" class="text-blue-600"></i>
            {{ 'book_series' | translate }}
          </nz-form-label>
          <nz-form-control>
            <nz-select
              formControlName="bmTuDienBoSachId"
              nzPlaceHolder="{{ 'book_series' | translate }}"
              [nzShowSearch]="true"
              class="w-full rounded-lg"
            >
              <nz-option
                *ngFor="let bs of boSach"
                [nzValue]="bs.id"
                [nzLabel]="bs.ten"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <!-- Ngôn ngữ -->
        <nz-form-item class="flex flex-col">
          <nz-form-label class="flex items-center gap-2 font-semibold text-gray-800">
            <i nz-icon nzType="global" class="text-blue-600"></i>
            {{ 'language' | translate }}
          </nz-form-label>
          <nz-form-control>
            <nz-select
              formControlName="ngonNgu"
              nzPlaceHolder="{{ 'enter_language' | translate }}"
              [nzShowSearch]="true"
              [nzFilterOption]="filterLanguage"
              class="w-full rounded-lg"
            >
              <nz-option
                *ngFor="let lang of languages"
                [nzValue]="lang.code"
                [nzLabel]="lang.name"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <div class="flex justify-end gap-4 px-6 py-4 border-t">
      <button
        nz-button
        nzType="default"
        (click)="handleReset()"
        class="flex items-center gap-2 rounded-lg"
      >
        <i nz-icon nzType="reload"></i> {{ 'reset' | translate }}
      </button>
      <button
        nz-button
        nzType="primary"
        (click)="submitForm()"
        class="flex items-center gap-2 rounded-lg"
      >
        <i nz-icon nzType="search"></i> {{ 'search' | translate }}
      </button>
    </div>
  </ng-template>
</nz-modal>

