.inputSearch {
  button {
      height: 50px;
      padding-left: 0px;
      padding-right: 0px;
      width: 50px;
      max-width: 50px;
      min-width: 50px;
    svg {
      width: 35px;
      height: 35px;
    }
  }
  .icon-search {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    font-size: 20px;
    color: #004AAD;
  }

  .ant-form-item {
    position: relative;
  }
}

