<div class="searchBar">
  <div class="container">
    <div class="inputSearch d-flex">
      <form nz-form style="width: 100%;" [formGroup]="formBasicSearch" (keyup.enter)="submitBasicSearch()">
        <nz-form-item>
          <i class="fa-regular fa-magnifying-glass icon-search"></i>
          <input formControlName="tieuDe" type="text" class="form-control" placeholder="{{'search'|translate}}"
            [nzAutocomplete]="auto" autocomplete="off" nz-icon="search" nzSize="large">
        </nz-form-item>
        <nz-autocomplete #auto nzDefaultActiveFirstOption="false">
          @let options = $options | async;
          @for (option of options; track $index) {
          <nz-auto-option (keyup.enter)="handleSelect($event)" [nzValue]="'auto-complete|' + option.id"
            (click)="submitBasicSearch()">{{ option.tieuDe }}</nz-auto-option>
          }
        </nz-autocomplete>
      </form>
      <button class="btn btn-primary ms-2" nz-button [nzType]="'primary'" (click)="showModal()">
        <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="100%"
          preserveAspectRatio="none" class="" fill="rgba(255, 255, 255, 1)">
          <path d="M400-240v-60h160v60H400ZM240-450v-60h480v60H240ZM120-660v-60h720v60H120Z"></path>
        </svg>
      </button>
    </div>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="('advanced_search' | translate)"
  [nzFooter]="modalFooter"
  [nzContent]="modalContent"
  [nzWidth]="'40vw'"
  [nzStyle]="{ top: '24px', padding: '0', maxHeight: 'calc(100vh - 48px)', overflow: 'auto' }"
  (nzOnCancel)="handleCancel()"
>
  <ng-template #modalContent>
  <div class="px-6 py-6">
    <form [formGroup]="formAdvanceSearch" (ngSubmit)="submitForm()">
      <div class="space-y-4">
        <!-- Tiêu đề -->
        <div class="form-item-custom">
          <div class="label-fixed">
            <i nz-icon nzType="file-text" class="mr-1 text-blue-600"></i>
            {{ 'title' | translate }}
          </div>
          <div class="input-flex">
            <input
              nz-input
              formControlName="tieuDe"
              placeholder="{{ 'enter_title' | translate }}"
              style="height: 42px !important;"
            />
          </div>
        </div>

        <!-- Tác giả -->
        <div class="form-item-custom">
          <div class="label-fixed">
            <i nz-icon nzType="user" class="mr-1 text-blue-600"></i>
            {{ 'author' | translate }}
          </div>
          <div class="input-flex">
            <input
              nz-input
              formControlName="tacGia"
              placeholder="{{ 'enter_author' | translate }}"
               style="height: 42px !important;"
            />
          </div>
        </div>

        <!-- Phạm vi -->
        <div class="form-item-custom">
          <div class="label-fixed">
            <i nz-icon nzType="database" class="mr-1 text-blue-600"></i>
            {{ 'format' | translate }}
          </div>
          <div class="input-flex">
            <nz-select
              formControlName="phamVi"
              nzPlaceHolder="{{ 'bmtailieuds_phamvi' | translate }}"
            >
              <nz-option nzValue="" nzLabel="{{ 'all' | translate }}"></nz-option>
              <nz-option nzValue="0" nzLabel="{{ 'bmtailieuds_print_documents' | translate }}"></nz-option>
              <nz-option nzValue="1" nzLabel="{{ 'bmtailieuds_digital_documents' | translate }}"></nz-option>
            </nz-select>
          </div>
        </div>

        <!-- Dạng tài liệu -->
        <div class="form-item-custom">
          <div class="label-fixed">
            <i nz-icon nzType="file-search" class="mr-1 text-blue-600"></i>
            {{ 'document_type' | translate }}
          </div>
          <div class="input-flex">
            <nz-select
              formControlName="bmDmDangTaiLieuId"
              nzPlaceHolder="{{ 'document_type' | translate }}"
              nzMode="multiple"
              [nzShowSearch]="true"
            >
              <nz-option
                *ngFor="let dangtailieu of dangTaiLieu"
                [nzValue]="dangtailieu.id"
                [nzLabel]="dangtailieu.ten"
              ></nz-option>
            </nz-select>
          </div>
        </div>

        

        <!-- Kho -->
        <div class="form-item-custom">
          <div class="label-fixed">
            <i nz-icon nzType="folder-open" class="mr-1 text-blue-600"></i>
            {{ 'bskho_kho' | translate }}
          </div>
          <div class="input-flex">
            <nz-select
              formControlName="bsKhoId"
              nzPlaceHolder="{{ 'bskho_kho' | translate }}"
              nzMode="multiple"
              [nzShowSearch]="true"
            >
              <nz-option
                *ngFor="let kho of bsKhos"
                [nzValue]="kho.id"
                [nzLabel]="kho.ten"
              ></nz-option>
            </nz-select>
          </div>
        </div>

        <!-- Bộ sách -->
        <div class="form-item-custom">
          <div class="label-fixed">
            <i nz-icon nzType="book" class="mr-1 text-blue-600"></i>
            {{ 'book_series' | translate }}
          </div>
          <div class="input-flex">
            <nz-select
              formControlName="bmTuDienBoSachId"
              nzPlaceHolder="{{ 'book_series' | translate }}"
              [nzShowSearch]="true"
            >
              <nz-option
                *ngFor="let bs of boSach"
                [nzValue]="bs.id"
                [nzLabel]="bs.ten"
              ></nz-option>
            </nz-select>
          </div>
        </div>

        <!-- Ngôn ngữ -->
        <div class="form-item-custom">
          <div class="label-fixed">
            <i nz-icon nzType="global" class="mr-1 text-blue-600"></i>
            {{ 'language' | translate }}
          </div>
          <div class="input-flex">
            <nz-select
              formControlName="ngonNgu"
              nzPlaceHolder="{{ 'enter_language' | translate }}"
              [nzShowSearch]="true"
              [nzFilterOption]="filterLanguage"
            >
              <nz-option
                *ngFor="let lang of languages"
                [nzValue]="lang.code"
                [nzLabel]="lang.name"
              ></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>


  <ng-template #modalFooter>
  <div
    class="flex flex-col sm:flex-row sm:justify-end sm:items-center gap-3 sm:gap-4 px-4 sm:px-6 py-4"
  >
    <button
      nz-button
      nzType="default"
      (click)="handleReset()"
      class="flex items-center justify-center gap-2 rounded-lg w-full sm:w-auto"
    >
      <i class="fas fa-times"></i> {{ 'reset' | translate }}
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="submitForm()"
      class="flex items-center justify-center gap-2 rounded-lg w-full sm:w-auto"
    >
      <i class="fas fa-search"></i> {{ 'search' | translate }}
    </button>
  </div>
</ng-template>

</nz-modal>
