
<div class="catalog-app" style="height: 91vh; width: 100%;">
  <div id="viewer">
    <div id="flipbook" class="ui-flipbook">
      <a ignore="1" class="ui-arrow-control ui-arrow-next-page"></a>
      <a ignore="1" class="ui-arrow-control ui-arrow-previous-page"></a>
    </div>
  </div>

  <!-- controls -->
  <div id="controls">
    <div class="all">
      <div class="ui-slider" id="page-slider">
        <div class="bar">
          <div class="progress-width">
            <div class="progress">
              <div class="handler"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui-options" id="options">
        <a class="ui-icon" id="ui-icon-table-contents"><i class="fa fa-bars"></i></a>
        <a class="ui-icon show-hint" title="Miniatures" id="ui-icon-miniature"><i class="fa fa-th"></i></a>
        <a class="ui-icon" id="ui-icon-zoom"><i class="fa fa-file-o"></i></a>
        <a class="ui-icon show-hint" title="Share" id="ui-icon-share"><i class="fa fa-share"></i></a>
        <a class="ui-icon show-hint" title="Full Screen" id="ui-icon-full-screen"><i class="fa fa-expand"></i></a>
        <a class="ui-icon show-hint" id="ui-icon-toggle"><i class="fa fa-ellipsis-v"></i></a>
      </div>

      <div id="zoom-slider-view" class="zoom-slider">
        <div class="bg">
          <div class="ui-slider" id="zoom-slider">
            <div class="bar">
              <div class="progress-width">
                <div class="progress">
                  <div class="handler"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="ui-icon-expand-options">
      <a class="ui-icon show-hint"><i class="fa fa-ellipsis-h"></i></a>
    </div>
  </div>

  <!-- miniatures -->
  <div id="miniatures" class="ui-miniatures-slider"></div>
</div>