<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <owl-carousel-o [options]="customOptions" (translated)="getPassedData($event)" (change)="getChangeData($event)"
        (changed)="getChangedData($event)" #owlCar>
        @for (item of carouselData(); track item.id) {
        <ng-template carouselSlide [id]="item.id" [width]="item.width">
          <div class="slider">
            <p>{{item.text}}</p>
          </div>
        </ng-template>
        }
      </owl-carousel-o>
    </div>
  </div>
</div>