<div class="box-stand pt-0">
  <div class="container">
    <div class="bookCategories">
      <h2 class="the-title flex justify-between items-center ">
        @if (typeof title === 'string') {
          <span class="uppercase">{{title}}</span>
        } @else {
          <ng-container [ngTemplateOutlet]="title" >
          </ng-container>
        }
       <a [routerLink]="['/tai-lieu']" [queryParams]="{ bmDmDangTaiLieuId: bmDmDangTaiLieuId }" class="viewmore">
        {{ 'view_more' | translate }}
      </a>

      </h2>
      <div class="mt-20 bookSlider">
        <owl-carousel-o [options]="customOptions" (translated)="getPassedData($event)" (change)="getChangeData($event)"
          (changed)="getChangedData($event)" #owlCar class="bookSlider">
          @for (item of data; track item.id) {
          <ng-template carouselSlide [id]="item.id || item.maDkcb">
            <!-- <div class="item-books-1 item-stand">
              <p style="text-align: center;">
                <a [routerLink]="['/documents', item.id]">
                  <span class="leftSide"></span>
                  <img [src]="item.anhDaiDien" [alt]="item.tieuDe" style="height: 260px; width: auto">
                </a>
              </p>
              <span><a [routerLink]="['/documents', item.id]">{{item.tieuDe}}</a></span>
            </div> -->
            <!-- <app-book-item-slider className="item-books-1 item-stand" [book]="item"></app-book-item-slider> -->
              <ng-container
                [ngTemplateOutlet]="children"
                [ngTemplateOutletContext]="{ item }"
              >
              </ng-container>
          </ng-template>
        }
      </owl-carousel-o>
      <!-- <ng-content [test]="aaaaa"></ng-content> -->
      <!-- <ng-template #myFragment>
        <p>This is the fragment</p>
      </ng-template> -->
      </div>
    </div>

  </div>
</div>
