
<div class="box-stand categories_section">
  <div class="container">
    <h2 class="the-title text-center">Danh Mục</h2>
    <div class="box_class">
      <div class="classSlider owl-carousel owl-loaded owl-drag">
      <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1326px, 0px, 0px); transition: all; width: 5304px;"><div class="owl-item cloned" style="width: 191px; margin-right: 30px;"><div class="item-class">
          <a href="#">
            <img src="./assets/img/imageClass/lop7.svg" alt="Lớp 1">
            <span>Lớp 7</span>
          </a>
        </div></div><div class="owl-item cloned" style="width: 191px; margin-right: 30px;"><div class="item-class">
          <a href="#">
            <img src="./assets/img/imageClass/lop8.svg" alt="Lớp 1">
            <span>Lớp 8</span>
          </a>
        </div></div><div class="owl-item cloned" style="width: 191px; margin-right: 30px;"><div class="item-class">
          <a href="#">
            <img src="./assets/img/imageClass/lop9.svg" alt="Lớp 1">
            <span>Lớp 9</span>
          </a>
        </div></div><div class="owl-item cloned" style="width: 191px; margin-right: 30px;"><div class="item-class">
          <a href="#">
            <img src="./assets/img/imageClass/lop10.svg" alt="Lớp 1">
            <span>Lớp 10</span>
          </a>
        </div></div><div class="owl-item cloned" style="width: 191px; margin-right: 30px;"><div class="item-class">
          <a href="#">
            <img src="./assets/img/imageClass/lop11.svg" alt="Lớp 1">
            <span>Lớp 11</span>
          </a>
        </div></div><div class="owl-item cloned" style="width: 191px; margin-right: 30px;"><div class="item-class">
          <a href="#">
            <img src="./assets/img/imageClass/lop12.svg" alt="Lớp 1">
            <span>Lớp 12</span>
          </a>
        </div></div><div class="owl-item active" style="width: 191px; margin-right: 30px;"><div class="item-class">
          <a href="#">
            <img src="./assets/img/imageClass/lop1.svg" alt="Lớp 1">
            <span>Lớp 1</span>
          </a>
        </div></div><div class="owl-item active" style="width: 191px; margin-right: 30px;"><div class="item-class">
          <a href="#">
            <img src="./assets/img/imageClass/lop2.svg" alt="Lớp 2">
            <span>Lớp 2</span>
          </a>
        </div></div><div class="owl-item active" style="width: 191px; margin-right: 30px;"><div class="item-class">
          <a href="#">
            <img src="./assets/img/imageClass/lop3.svg" alt="Lớp 1">
            <span>Lớp 3</span>
          </a>
        </div></div><div class="owl-item active" style="width: 191px; margin-right: 30px;"><div class="item-class">
          <a href="#">
            <img src="./assets/img/imageClass/lop4.svg" alt="Lớp 1">
            <span>Lớp 4</span>
          </a>
        </div></div><div class="owl-item active" style="width: 191px; margin-right: 30px;"><div class="item-class">
          <a href="#">
            <img src="./assets/img/imageClass/lop5.svg" alt="Lớp 1">
            <span>Lớp 5</span>
          </a>
        </div></div><div class="owl-item active" style="width: 191px; margin-right: 30px;"><div class="item-class">
          <a href="#">
            <img src="./assets/img/imageClass/lop6.svg" alt="Lớp 1">
            <span>Lớp 6</span>
          </a>
        </div></div><div class="owl-item" style="width: 191px; margin-right: 30px;"><div class="item-class">
          <a href="#">
            <img src="./assets/img/imageClass/lop7.svg" alt="Lớp 1">
            <span>Lớp 7</span>
          </a>
        </div></div><div class="owl-item" style="width: 191px; margin-right: 30px;"><div class="item-class">
          <a href="#">
            <img src="./assets/img/imageClass/lop8.svg" alt="Lớp 1">
            <span>Lớp 8</span>
          </a>
        </div></div><div class="owl-item" style="width: 191px; margin-right: 30px;"><div class="item-class">
          <a href="#">
            <img src="./assets/img/imageClass/lop9.svg" alt="Lớp 1">
            <span>Lớp 9</span>
          </a>
        </div></div><div class="owl-item" style="width: 191px; margin-right: 30px;"><div class="item-class">
          <a href="#">
            <img src="./assets/img/imageClass/lop10.svg" alt="Lớp 1">
            <span>Lớp 10</span>
          </a>
        </div></div><div class="owl-item" style="width: 191px; margin-right: 30px;"><div class="item-class">
          <a href="#">
            <img src="./assets/img/imageClass/lop11.svg" alt="Lớp 1">
            <span>Lớp 11</span>
          </a>
        </div></div><div class="owl-item" style="width: 191px; margin-right: 30px;"><div class="item-class">
          <a href="#">
            <img src="./assets/img/imageClass/lop12.svg" alt="Lớp 1">
            <span>Lớp 12</span>
          </a>
        </div></div><div class="owl-item cloned" style="width: 191px; margin-right: 30px;"><div class="item-class">
          <a href="#">
            <img src="./assets/img/imageClass/lop1.svg" alt="Lớp 1">
            <span>Lớp 1</span>
          </a>
        </div></div><div class="owl-item cloned" style="width: 191px; margin-right: 30px;"><div class="item-class">
          <a href="#">
            <img src="./assets/img/imageClass/lop2.svg" alt="Lớp 2">
            <span>Lớp 2</span>
          </a>
        </div></div><div class="owl-item cloned" style="width: 191px; margin-right: 30px;"><div class="item-class">
          <a href="#">
            <img src="./assets/img/imageClass/lop3.svg" alt="Lớp 1">
            <span>Lớp 3</span>
          </a>
        </div></div><div class="owl-item cloned" style="width: 191px; margin-right: 30px;"><div class="item-class">
          <a href="#">
            <img src="./assets/img/imageClass/lop4.svg" alt="Lớp 1">
            <span>Lớp 4</span>
          </a>
        </div></div><div class="owl-item cloned" style="width: 191px; margin-right: 30px;"><div class="item-class">
          <a href="#">
            <img src="./assets/img/imageClass/lop5.svg" alt="Lớp 1">
            <span>Lớp 5</span>
          </a>
        </div></div><div class="owl-item cloned" style="width: 191px; margin-right: 30px;"><div class="item-class">
          <a href="#">
            <img src="./assets/img/imageClass/lop6.svg" alt="Lớp 1">
            <span>Lớp 6</span>
          </a>
        </div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
    </div>
  </div>
</div>