<app-home-search-advanced></app-home-search-advanced>
<div class="list_book_search modalStand">
  <div class="container">
    <div class="wrap-flex">
      <div class="modalStand_box">
        <div class="title-result">
        </div>
        <form [formGroup]="formCriteriaFilter">
          <div class="advSearch">
             <h3>{{'filter_criteria'|translate}}</h3>
            <nz-form-item>
              <div class="widget_searchAdv">
                <div class="d-flex items-center">
                  <h3>{{'book_set'|translate}}</h3>
                  @let disabledCleanBsThuVien = (this.formCriteriaFilter.controls['bsThuVienId']
                  .valueChanges | async);
                  <button nz-button nzType="link" (click)="handleClear('bsThuVienId')"
                    [disabled]="!disabledCleanBsThuVien">
                    <i class="fa-solid fa-arrows-rotate"></i>
                  </button>
                </div>

                <nz-radio-group formControlName="bsThuVienId">
                  <label nz-radio nzValue="canh-dieu">Cánh diều</label>
                  <label nz-radio nzValue="chan-troi-sang-tao">Chân trời sáng tạo</label>
                  <label nz-radio nzValue="ket-noi-tri-thuc">Kết nối tri thức</label>
                </nz-radio-group>
              </div>
            </nz-form-item>
            <nz-form-item>
              <div class="widget_searchAdv">
                <div class="d-flex items-center">
                  <h3>{{'document_type'|translate}}</h3>
                  @let disabledCleanDmDangTaiLieu = (this.formCriteriaFilter.controls['bmDmDangTaiLieuId']
                  .valueChanges | async);
                  <button nz-button nzType="link" (click)="handleClear('bmDmDangTaiLieuId')"
                    [disabled]="!disabledCleanDmDangTaiLieu">
                    <i class="fa-solid fa-arrows-rotate"></i>
                  </button>
                </div>

                <nz-radio-group formControlName="bmDmDangTaiLieuId">
                  @for (item of dangTaiLieus; track $index) {
                  <label nz-radio nzValue="{{item.id}}">{{item.ten}}</label>
                  }
                </nz-radio-group>
              </div>
            </nz-form-item>
          </div>
        </form>
      </div>
      <div class="modalStand_box">
        <div class="title-result">
          <p>{{'found'|translate}} <span>{{totalRecords}}</span> {{'results'|translate}}</p>
        </div>
        <div class="box_result_book">
          @for (item of documents; track $index) {
          <app-book-item [book]="item"></app-book-item>
          }
          <!-- @for (item of documents; track $index) {
          <div class="box_item">
            <a [routerLink]="['/documents', item.id]">
              <p>
                <img [src]="item.anhDaiDien" alt="Book 1">
                <span class="leftSideBookSearch"></span>
              </p>
              <span class="title">{{item.tieuDe}}</span>
            </a>
          </div>
          } -->
        </div>
        <div class="page_sort_item">
          <div class="item_page_detail">
            <div class="d-flex align-items-center groupSelect">
              <label for="numberSelect" class="form-label">{{'show'|translate}}</label>
              <nz-select [(ngModel)]="pageSizes" (ngModelChange)="changePageSize($event)" id="numberSelect">
                @for (size of sizeItems; track $index) {
                <nz-option [nzValue]="size" [nzLabel]="size"></nz-option>
                }
              </nz-select>
            </div>
          </div>
          <div class="item_page_detail">
            <div class="showPage">
              <span>{{ pageIndex + 1 }}/{{ totalPage }}</span>
              <button class="btn pre-btn" type="button" [disabled]="pageIndex === 0" (click)="prevPage()">
                <span class="btnPre" aria-label="Previous">‹</span>
              </button>
              <button class="btn next-btn" type="button" [disabled]="pageIndex + 1 >= totalPage" (click)="nextPage()">
                <span class="btnPre" aria-label="Next">›</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>