<!-- app.component.html -->
<div class="wrapperStand bg-white min-h-screen flex flex-col text-gray-800 text-base md:text-[15px] sm:text-sm">
  <!-- Custom loading spinner icon -->
  <ng-template #indicatorTemplate>
    <nz-icon nzType="loading" nzTheme="outline" class="text-3xl text-blue-500"></nz-icon>
  </ng-template>

  <!-- Luôn có spin, nội dung bên trong mới bị điều kiện -->
  <nz-spin [nzSpinning]="!isReady" [nzIndicator]="indicatorTemplate">
    <ng-container *ngIf="isReady">
      <app-header></app-header>
      <main>
        <router-outlet (activate)="handleActive($event)"></router-outlet>
      </main>
      <app-footer></app-footer>
      <app-chatbot *ngIf="isChatbotActive"></app-chatbot>
    </ng-container>
  </nz-spin>
</div>

