.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  color: white;
  font-weight: 500;
  border-top: 1px solid #09238d;
  border-bottom: 1px solid #09238d;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
  color: yellow;
  border-top: 1px solid yellow;
  border-bottom: 1px solid yellow;
}

.nga-navbar {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 11px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 11px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #09238d;
}

.nga-navbar-logo {
  font-weight: 700;
}

.nga-navbar-logo:hover {
  color: rgba(255, 255, 255, 0.75);
}

.nga-logo {
  font-weight: 700;
}

.nga-logo:hover {
  color: rgba(255, 255, 255, 0.75);
}

.nga-footer {
  background-color: #212121;
  color: white;
}

.nga-footer a {
  color: white;
  text-decoration: none
}

.nga-footer a:hover,
.nga-footer a:focus {
  color: yellow;
  text-decoration: underline;
}

.nga-footer .hint {
  background-color: #1976d2;
}

.nga-footer .hint:hover {
  opacity: 0.8;
}

nz-icon {
  font-size: 28px;
  font-weight: 700;
}



/*css cho bìa sách*/
.item-title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  color:#000;
  // display: -webkit-box;
  // -webkit-line-clamp: 2;
  // -webkit-box-orient: vertical;
  overflow: hidden;
  &.item-title--over {
    position: relative;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      //fade from bottom to top
      background: linear-gradient(rgba(255, 255, 255, 0), #fff);
      height: 70%;
      width: 100%;
      z-index: 99;
    }
  }
  &:hover {
    color: #1890ff;
  }
}

.item-thumbnail {
/*  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);*/
/*border-radius: 8px;*/
/*  height: 260px;*/
  overflow: hidden;
  position: relative;
  margin: 0 0 20px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, .3);
  border-radius: 5px;
  &:before {
    content: "";
    position: absolute;
    z-index: 9;
    width: 12px;
    margin: 0;
    top: 0;
    height: 100%;
    border-radius: 5px 0 0 5px;
    background: linear-gradient(
      90deg,
      hsla(0, 0%, 100%, 0.22) 19.38%,
      rgba(0, 0, 0, 0.15) 51.67%,
      rgba(0, 0, 0, 0.34) 64.17%,
      hsla(0, 0%, 82%, 0.27) 75.63%,
      hsla(0, 0%, 100%, 0) 94.38%
    );
    mix-blend-mode: normal;
    opacity: 0.3;
    bottom: 0;
    left: 0;
  }
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 230px;
    width: 180px;
    object-fit: fill;
    max-width: unset;
    overflow: hidden;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    
  }
}

.item-wrapper{
  position: relative;
  transition: all 0.4s;
  &:hover {
    transform: translateY(-10px);
  }
}

.item-thumbnail{
width: 180px;
  height: 230px;
  object-fit: cover;
}


@media (max-width: 992px) {
  .item-thumbnail {
    width: 145px;
    height: 192px;
    img {
      width: 145px;
      height: 192px;
      max-height: unset;
      max-width: unset;
      object-fit: fill
    }
  }
}

.viewmore{
  font-size: 14px;
  line-height: 50px;
  color: rgb(0, 74, 173);
  float: right;
  position: absolute;
  top: -5px;
  right: 100px;
  font-weight: bold;
}

.divToolChuyenDe{
  position: relative;
  margin-right: 0;
  margin-bottom: -20px;
  margin-top: 0;
}

.item-title{
  position: relative;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.owl-dots{
  display: none !important;
}
.carousel-nav button{
  color: black;
}

.carousel-nav button i{
  font-size: 13px;
  padding: 3px;
}



