<div class="box-stand pt-0 ">
  <div class="container">
    <div class="bookCategories">
      <h2 class="the-title flex justify-between items-center ">
        <span class="uppercase">Audio</span>
       <a href="./medialibrary?type=audio" class="viewmore text-blue-600 hover:underline">
  {{'view_more'|translate}}
</a>

      </h2>
      <owl-carousel-o [options]="customOptions" (translated)="getPassedData($event)" (change)="getChangeData($event)"
        (changed)="getChangedData($event)" #owlCar class="mt-6 videosBox">
        @for (item of simpleData; track item.id) {
        <ng-template carouselSlide [id]="item.id">
          <div class="item-books-4 bg-white rounded-lg border p-2 flex flex-col transition duration-300 transform hover:-translate-y-1 hover:shadow-xl overflow-hidden"
            style="margin-bottom: 5px;">
               <a href="./medialibrary?type=audio&id={{item.id}}">
            <!-- Ảnh đại diện -->
            <div class="w-full mb-2">
             <img [src]="item.anhDaiDien || './assets/img/default-audio.png'" 
     alt="Ảnh đại diện" 
     class="w-full h-40 object-cover rounded-md">
            </div>
            <!-- Thông tin -->
            <div class="w-full text-left px-1">
            
                <h3 class="text-base font-medium text-gray-800 truncate" title="{{item.title}}">
                  {{ item.title }}
                </h3>
            </div>
              </a>
          </div>
        </ng-template>

        }
      </owl-carousel-o>
    </div>
  </div>
</div>