.bookCategories {
  .the-title {
    position: relative;
    margin-bottom: 20px !important;
    padding-right: 120px;
  }
  .viewmore {
  font-size: 14px;
  line-height: 50px;
  color: rgb(0, 74, 173);
  }
}
.videosBox {
  margin-top: 20px;
}


::ng-deep {
  .owl-theme {
    .owl-nav {
      position: absolute;
      right: 0;
      bottom: 100%;
      margin-bottom: 12px;
      display: flex;
      .owl-next,
      .owl-prev {
        background: #fff;
        color: #fff;
        border-radius: 5px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: auto;
        cursor: pointer;
        border: solid 1px #000;
        position: relative;
        top: 0;
        right: 0;
        margin: 0 5px;
        font-size: 0;
        &:after {
          content: "‹";
          font-size: 29px;
          font-weight: normal;
          position: relative;
          top: -2px;
          color: rgba(5, 31, 77, 1);
        }
      }
      .owl-next {
        right: 0;
        &:after {
          content: "›";
        }
      }
    }
  }
}

@media (max-width:992px) {
  .bookCategories {
    .the-title {
      font-size: 25px;
      display: flex;
      align-items: center;
      gap: 8px;
      justify-content: flex-start;  
      position: relative;
      padding-right: 111px;
      .viewmore {
        background: url(/img/icons8-arrow-24.png) no-repeat center center #ffffff;
        width: 25px;
        height: 25px;
        border-radius: 50px;
        text-indent: -999999px;
        background-size: 12px 12px;
        margin-top: 2px;
      }
    }
  }
}