<footer class="footerPage mt-3">
  <div class="container">
    <div class="top-footer-menu">
      <div class="item-menu-footer">
        <h3>{{'electronic_library_system'|translate|uppercase}}</h3>
        <ul class="list-info">
          <li>
            <i class="fa-solid fa-house"></i>
            {{'address'}}: {{'hoang_cau_o_cho_dua_ward_dong_da_district_hanoi'|translate}}
          </li>
          <li><i class="fa fa-solid fa-phone"></i>{{'phone'|translate}}: + 84972220XXX - + 84972220XXX</li>
          <li><i class="fa fa-solid fa-envelope"></i> Email: hotro&amp;slib.com.vn</li>
          <li><i class="fa fa-solid fa-globe"></i> Website: http://slib.vn</li>
        </ul>
      </div>
      <div class="item-menu-footer">
        <h3>{{'connect_with_us'|translate}}</h3>
        <ul class="list-info">
          <li><a href="#"><img src="./img/icon-fb.svg" alt="" /> Fanpage</a></li>
          <li><a href="#"><img src="./img/icon-ytb.svg" alt="" /> Youtube</a></li>
        </ul>
      </div>
      <div class="item-menu-footer">
        <h3>1 {{'online_visits'|translate}} | 2.908 {{'total_visits'|translate}}</h3>
      </div>
    </div>
    <div class="bottom-menu-footer">
      <p>&amp;{{'2020_copyright_belongs_to_slibvn'|translate}}</p>
    </div>
  </div>
</footer>