<div class="box-stand categories_section">
  <div class="container">
    <h2 class="the-title text-center uppercase">{{'topics'|translate}}</h2>
    <div class="divToolChuyenDe">
      <a [routerLink]="['stsBoSuuTapDs-chuyen-de']" class="viewmore">{{'view_more'|translate}}</a>

      <div class="carousel-nav text-end mb-2 bookSlider">
        <button class="btn btn-outline-secondary me-2" (click)="goToPrev()">
          <i class="fas fa-chevron-left"></i>
        </button>
        <button class="btn btn-outline-secondary" (click)="goToNext()">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </div>

    <div class="box_class">
      <owl-carousel-o #owlCar [options]="customOptions" (translated)="getPassedData($event)"
        (change)="getChangeData($event)" (changed)="getChangedData($event)" class="classSlider">
        <!-- Loop qua mảng data trong $chuyende -->
        @for (item of ($chuyende | async); track item.id) {
        <ng-template carouselSlide [id]="item.id">
          <div class="item-wrapper transition duration-300 transform hover:-translate-y-1" *ngIf="item">
            <!-- Swiper hiển thị danh sách tài liệu -->
            <swiper-container class="mySwiper" effect="cards" grab-cursor="true">
              <!-- Nếu có tài liệu -->
              <ng-container *ngIf="item.taiLieus?.length > 0; else emptySlide">
                @for (tl of item.taiLieus; track tl.id) {
                <swiper-slide>
                  <a href="./tai-lieu/{{ tl.id }}" class="item-link mb-2">
                    <img height="320" width="240" [src]="tl.anhDaiDien" [alt]="tl.tieuDe" />
                  </a>
                </swiper-slide>
                }
              </ng-container>

              <!-- Nếu không có tài liệu -->
              <ng-template #emptySlide>
                <swiper-slide>
                  <img height="320" width="240" class="img-thumbnail"
                    [src]="item?.anhDaiDien || './assets/img/imageBook/book_default.png'" alt="Không có tài liệu" />

                </swiper-slide>
              </ng-template>
            </swiper-container>


            <!-- Thông tin chuyên đề -->
            <a [routerLink]="['/stsBoSuuTapDs-chuyen-de-detail']" [queryParams]="{ id: item?.id }"
              title="{{ item?.ten }}" class="text-center  item-link">
              <span class="item-title mt-2" title="{{ item?.ten }}">
                {{ item?.ten }} ({{ item?.slTaiLieu }} {{'document'|translate}})
              </span>
              <span class="item-description"></span>
            </a>
          </div>
        </ng-template>
        }

      </owl-carousel-o>
    </div>
  </div>
</div>