<!-- src/app/chuyen-de/chuyen-de-list/chuyen-de-list.component.html -->
<div class="container">
  <h1 class="page-title">{{'list_of_topics' |translate}}</h1>
  <p class="page-desc">{{'explore_the_latest_topics_in_the_library' | translate}}</p>

  <!-- Thanh tìm kiếm -->
  <div class="search-bar">
    <input type="text" placeholder="{{'search_by_topic' | translate}}" [(ngModel)]="searchTerm"
      (ngModelChange)="onSearchChange()" />
    <button (ngModelChange)="onSearchChange()"><i class="fa-regular fa-magnifying-glass icon-search"></i></button>
  </div>

  <!-- Grid -->
  @if (chuyenDeList | async; as chuyenDeData) {
  <div class="grid">
    @for (chuyenDe of chuyenDeData | sortByCap; track chuyenDe.id) {
    <div class="card">
      <img [src]="getImageUrl(chuyenDe)" [alt]="chuyenDe.ten">
      <div class="card-content">
        <div class="card-title">{{ chuyenDe.ten }}</div>
        <div class="card-count" *ngIf="chuyenDe.slTaiLieu > 0" [routerLink]="['/stsBoSuuTapDs-chuyen-de-item']"
          [queryParams]="{ stsBoSuuTapId: chuyenDe?.id }">
          <b> <i class="fas fa-file-alt me-1"></i> {{'number_of_documents' |translate}}: {{ chuyenDe.slTaiLieu > 0 ?
            chuyenDe.slTaiLieu : 0 }}</b>
        </div>

        @if (chuyenDe.noiDung?.trim()) {
        <app-preview-document class="fixHeight" [details]="chuyenDe.noiDung" />
        }
      </div>
    </div>
    }
  </div>

  <!-- Phân trang -->
  <div class="page_sort_item">
  <!-- Chọn số bản ghi hiển thị -->
  <div class="item_page_detail">
    <div class="d-flex align-items-center groupSelect">
      <label for="numberSelect" class="form-label">{{'show'|translate}}</label>
      <nz-select [ngModel]="pageSize" (ngModelChange)="handleChangePageSize($event)" id="numberSelect" [nzCustomTemplate]="iconTemplate" [nzShowArrow]="true">
              @for (size of itemPerpageOption; track $index) {
                <nz-option [nzValue]="size" [nzLabel]="size"></nz-option>
              }
            </nz-select>
    </div>
  </div>

  <!-- Điều hướng phân trang -->
  <div class="item_page_detail">
    @if (totalRecord > 0) {
      <div class="showPage">
        <span>{{ pageIndex }}/{{ getTotalPages() }}</span>
        <button
          class="btn pre-btn"
          [disabled]="pageIndex === 1"
          (click)="onPageChange(pageIndex - 1)"
          aria-label="Previous"
        >
          <span class="btnPre">‹</span>
        </button>
        <button
          class="btn next-btn"
          [disabled]="pageIndex === getTotalPages()"
          (click)="onPageChange(pageIndex + 1)"
          aria-label="Next"
        >
          <span class="btnPre">›</span>
        </button>
      </div>
    }
  </div>
</div>

  } @else {
  <div class="loading">...</div>
  }
</div>