.document-search-title p {
  color: #ccc;
}
.document-search-title p span {
  font-weight: normal;
  color: #000;
}
.info-detail-section {
  padding: 50px 0;
}
.box-info-detail h2 {
  font-size: 30px;
  color: rgba(36, 36, 36, 1);
  margin-bottom: 40px;
}
.group-info-detail {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
}

.itemColumnInfo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
/*  grid-template-columns: repeat(2, 1fr);*/
}

.itemColumnInfo:first-child {
  flex: 0 0 50%; 
}

.itemColumnInfo:last-child {
  flex: 0 0 50%; 
}
.img-itemColumnInfo p {
  margin: 0;
  position: relative;
}
.img-itemColumnInfo img {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, .3);
  border-radius: 5px;
/*  height: 310px;*/
  object-fit: cover;
  width: 100%;
  position: relative;
}
.img-itemColumnInfo .leftSideBookSearch {
  position: absolute;
  z-index: 9;
  width: 12px;
  margin: 0;
  top: 0;
  height: 100%;
  border-radius: 5px 0 0 5px;
  background: linear-gradient(90deg, hsla(0, 0%, 100%, .22) 19.38%, rgba(0, 0, 0, .15) 51.67%, rgba(0, 0, 0, .34) 64.17%, hsla(0, 0%, 82%, .27) 75.63%, hsla(0, 0%, 100%, 0) 94.38%);
  mix-blend-mode: normal;
  opacity: .3;
}
.img-itemColumnInfo h3 {
  font-size: 22px;
  color: rgba(36, 36, 36, 1);
  border-bottom: solid 1px rgba(222, 222, 222, 1);
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.img-itemColumnInfo p {
  font-size: 16px;
  color: rgba(36, 36, 36, 1);
}
.box-btn-info {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.box-btn-info button {
  background: rgba(21, 66, 144, 1);
  color: #fff;
  font-size: 16px;
  /* width: 150px; */
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  flex: 1 0 0;
}
.box-btn-info button i.fa-book-open::before {
  content: '\f518';
}
.box-btn-info button img {
  width: 17px;
  box-shadow: 0 0 0 0;
}
.box-btn-info button i {

}
.box-btn-info button:hover {
  background-color: #2775db;
}

.box-love-book {
  margin-top: 40px;
}
.box-love-book button {
  background: #fff;
  color: rgba(21, 66, 144, 1);
  font-size: 16px;
  font-weight: 700;
  width: 100%; 
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  border:solid 1px rgba(21, 66, 144, 1);
}
.box-love-book button:hover {
  background-color: #2775db;
  color: #fff;
  border: none;
}

.info-author {

}
.box-profile {
  width: 100%;
  height: 100%;
  padding: 0 15px;
}
.box-profile ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
}
.box-profile ul li {
  color: #000;
  font-size: 16px;
  font-weight: 700;
}
.box-profile ul li a {
  color: #0080ff;
  text-decoration: underline;
  display: inline-block;
}
.box-profile ul li span {
  font-weight: 400;
}

.box-profile .nav_social {
  margin: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav_social li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav_social li i {
  font-size: 25px;
}
.nav_social li span {
  margin-top: 5px;
}

@media (max-width: 992px) {
  .group-info-detail {
    flex-direction: column;
  }
  .itemColumnInfo {
    flex: 1 !important;
    width: 100%;
    flex-direction: column;
  }
  .img-itemColumnInfo {
    width: 100%;
  }
  .box-profile, .box-profile ul {
    padding: 0;
  }
  .img-itemColumnInfo img {
    height: 350px;
  }
  .box-info-detail h2 {
    font-size: 25px;
  }
}