<div class="bannerTop">
  <banner-sliders />
</div>
{{ documentList | json }}
<div class="searchBar">
  <div class="container">
    <div class="inputSearch d-flex">
      <input type="text" class="form-control" placeholder="Bắt đầu tìm kiếm" />
      <button class="btn btn-primary ms-2">
        <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="100%" preserveAspectRatio="none" class="" fill="rgba(255, 255, 255, 1)">
          <path d="M400-240v-60h160v60H400ZM240-450v-60h480v60H240ZM120-660v-60h720v60H120Z"></path>
        </svg>
      </button>
    </div>
  </div>
</div>
<div class="box-stand categories_section">
  <div class="container">
    <h2 class="the-title text-center">Danh Mục</h2>
    <div class="box_class">
      <div class="classSlider owl-carousel">
        <div class="item-class">
          <a href="#">
            <img src="img/imageClass/lop1.svg" alt="Lớp 1" />
            <span>Lớp 1</span>
          </a>
        </div>
        <div class="item-class">
          <a href="#">
            <img src="img/imageClass/lop2.svg" alt="Lớp 2" />
            <span>Lớp 2</span>
          </a>
        </div>
        <div class="item-class">
          <a href="#">
            <img src="img/imageClass/lop3.svg" alt="Lớp 1" />
            <span>Lớp 3</span>
          </a>
        </div>
        <div class="item-class">
          <a href="#">
            <img src="img/imageClass/lop4.svg" alt="Lớp 1" />
            <span>Lớp 4</span>
          </a>
        </div>
        <div class="item-class">
          <a href="#">
            <img src="img/imageClass/lop5.svg" alt="Lớp 1" />
            <span>Lớp 5</span>
          </a>
        </div>
        <div class="item-class">
          <a href="#">
            <img src="img/imageClass/lop6.svg" alt="Lớp 1" />
            <span>Lớp 6</span>
          </a>
        </div>
        <div class="item-class">
          <a href="#">
            <img src="img/imageClass/lop7.svg" alt="Lớp 1" />
            <span>Lớp 7</span>
          </a>
        </div>
        <div class="item-class">
          <a href="#">
            <img src="img/imageClass/lop8.svg" alt="Lớp 1" />
            <span>Lớp 8</span>
          </a>
        </div>
        <div class="item-class">
          <a href="#">
            <img src="img/imageClass/lop9.svg" alt="Lớp 1" />
            <span>Lớp 9</span>
          </a>
        </div>
        <div class="item-class">
          <a href="#">
            <img src="img/imageClass/lop10.svg" alt="Lớp 1" />
            <span>Lớp 10</span>
          </a>
        </div>
        <div class="item-class">
          <a href="#">
            <img src="img/imageClass/lop11.svg" alt="Lớp 1" />
            <span>Lớp 11</span>
          </a>
        </div>
        <div class="item-class">
          <a href="#">
            <img src="img/imageClass/lop12.svg" alt="Lớp 1" />
            <span>Lớp 12</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <s-sliders title="Sách giáo khoa" />
</div>

<div class="box-stand pt-0">
  <div class="container">
    <div class="bookCategories">
      <h2 class="the-title">Sách tham khảo</h2>
      <div class="mt-20 bookSlider-review owl-carousel">
        <div class="item-books-2 item-stand">
          <a href="#">
            <p><img src="img/imageBook/B1.jpg" alt="book 1" /></p>
            <span>Cat and Dog: Mud</span>
          </a>
        </div>
        <div class="item-books-2 item-stand">
          <a href="#">
            <p><img src="img/imageBook/B2.jpg" alt="book 1" /></p>
            <span>Cat and Dog Play Soccer</span>
          </a>
        </div>
        <div class="item-books-2 item-stand">
          <a href="#">
            <p><img src="img/imageBook/B3.jpg" alt="book 1" /></p>
            <span>Cat and Dog: Moth</span>
          </a>
        </div>
        <div class="item-books-2 item-stand">
          <a href="#">
            <p><img src="img/imageBook/B4.jpg" alt="book 1" /></p>
            <span>Cat and Dog and the Door</span>
          </a>
        </div>
        <div class="item-books-2 item-stand">
          <a href="#">
            <p><img src="img/imageBook/B5.jpg" alt="book 1" /></p>
            <span>Cat and Dog and the Sky</span>
          </a>
        </div>
        <div class="item-books-2 item-stand">
          <a href="#">
            <p><img src="img/imageBook/B6.jpg" alt="book 1" /></p>
            <span>Cat and Dog Learn Every Day</span>
          </a>
        </div>
        <div class="item-books-2 item-stand">
          <a href="#">
            <p><img src="img/imageBook/B7.png" alt="book 1" /></p>
            <span>Cat and Dog: Mud</span>
          </a>
        </div>
        <div class="item-books-2 item-stand">
          <a href="#">
            <p><img src="img/imageBook/B8.jpg" alt="book 1" /></p>
            <span>Cat and Dog: Mud</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="box-stand pt-0">
  <div class="container">
    <div class="bookCategories">
      <h2 class="the-title">Audio</h2>
      <div class="mt-20 audioBox owl-carousel">
        <div class="item-books-3 item-stand">
          <a href="#">
            <p><img src="img/imageBook/B1.jpg" alt="book 1" /></p>
            <span>Cat and Dog: Mud</span>
          </a>
        </div>
        <div class="item-books-3 item-stand">
          <a href="#">
            <p><img src="img/imageBook/B2.jpg" alt="book 1" /></p>
            <span>Cat and Dog Play Soccer</span>
          </a>
        </div>
        <div class="item-books-3 item-stand">
          <a href="#">
            <p><img src="img/imageBook/B3.jpg" alt="book 1" /></p>
            <span>Cat and Dog: Moth</span>
          </a>
        </div>
        <div class="item-books-3 item-stand">
          <a href="#">
            <p><img src="img/imageBook/B4.jpg" alt="book 1" /></p>
            <span>Cat and Dog and the Door</span>
          </a>
        </div>
        <div class="item-books-3 item-stand">
          <a href="#">
            <p><img src="img/imageBook/B5.jpg" alt="book 1" /></p>
            <span>Cat and Dog and the Sky</span>
          </a>
        </div>
        <div class="item-books-3 item-stand">
          <a href="#">
            <p><img src="img/imageBook/B6.jpg" alt="book 1" /></p>
            <span>Cat and Dog Learn Every Day</span>
          </a>
        </div>
        <div class="item-books-3 item-stand">
          <a href="#">
            <p><img src="img/imageBook/B7.png" alt="book 1" /></p>
            <span>Cat and Dog: Mud</span>
          </a>
        </div>
        <div class="item-books-3 item-stand">
          <a href="#">
            <p><img src="img/imageBook/B8.jpg" alt="book 1" /></p>
            <span>Cat and Dog: Mud</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="box-stand pt-0">
  <div class="container">
    <div class="bookCategories">
      <h2 class="the-title">Video</h2>
      <div class="mt-20 videosBox owl-carousel">
        <div class="item-books-4">
          <a href="#">
            <iframe
              width="300"
              height="160"
              src="https://www.youtube.com/embed/tVZnBL1Gwzc?si=Z96UaU0d8LfHhf8K"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
            <span>Cat and Dog: Mud</span>
          </a>
        </div>
        <div class="item-books-4">
          <a href="#">
            <img src="img/videoThumb/thumb1.jpg" alt="book 1" />
            <span>Cat and Dog Play Soccer</span>
          </a>
        </div>
        <div class="item-books-4">
          <a href="#">
            <img src="img/videoThumb/thumb1.jpg" alt="book 1" />
            <span>Cat and Dog: Moth</span>
          </a>
        </div>
        <div class="item-books-4">
          <a href="#">
            <img src="img/videoThumb/thumb1.jpg" alt="book 1" />
            <span>Cat and Dog and the Door</span>
          </a>
        </div>
        <div class="item-books-4">
          <a href="#">
            <img src="img/videoThumb/thumb1.jpg" alt="book 1" />
            <span>Cat and Dog and the Sky</span>
          </a>
        </div>
        <div class="item-books-4">
          <a href="#">
            <img src="img/videoThumb/thumb1.jpg" alt="book 1" />
            <span>Cat and Dog Learn Every Day</span>
          </a>
        </div>
        <div class="item-books-4">
          <a href="#">
            <img src="img/videoThumb/thumb1.jpg" alt="book 1" />
            <span>Cat and Dog: Mud</span>
          </a>
        </div>
        <div class="item-books-4">
          <a href="#">
            <img src="img/videoThumb/thumb1.jpg" alt="book 1" />
            <span>Cat and Dog: Mud</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
