<app-home-sliders></app-home-sliders>
<app-home-search-advanced (searchResultsChange)="searchList($event)"></app-home-search-advanced>
<app-homecategories></app-homecategories>
@let docs$ = docs | async;
@if (docs$) {
  <app-s-slider title="Sách giáo khoa1" [data]="docs$"></app-s-slider>
  <app-s-slider title="Sách tham khảo" [data]="docs$"></app-s-slider>
  <app-s-slider title="Audio" [data]="docs$"></app-s-slider>
  <app-s-slider title="Video" [data]="docs$"></app-s-slider>
}
<app-homevideos></app-homevideos>
