<div class="container py-10">
  <h1 class="text-xl text-center capitalize">{{'change_password'|translate}}</h1>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" class="max-w-[800px] mx-auto">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" class="capitalize" nzRequired>{{'password'|translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
        <input nz-input type="password" id="password" formControlName="password" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" class="capitalize"
        nzRequired>{{'reenter_password'|translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
        <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
        <ng-template #errorTpl let-control>
          @if (control.errors?.['required']) {
          Please confirm your password!
          }
          @if (control.errors?.['confirm']) {
          Two passwords that you enter is inconsistent!
          }
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary">{{'change_password'|translate}}</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>