[nz-form] {
  max-width: 600px;
}

.ant-select.ant-select-in-form-item.phone-select {
  width: 80px;
}

.register-area {
  margin-bottom: 8px;
}

.ant-btn {
  background: rgb(0, 74, 173);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}