.slider-content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  color: #fff;
  text-align: left;
}

.slider-content h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 10px;
  color: rgba(5, 31, 77, 1);
}

.slider-content p {
  font-size: 16px;
  margin: 0 0 15px;
  color: rgba(5, 31, 77, 1);
}

.slider-content a {
  color: #fff;
  text-decoration: none;
  background-color: rgba(0, 74, 173, 1);
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.slider-content a:hover {
  color: #fff;
  background-color: #0056b3;
}
.fa-light {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

@media (max-width: 992px) {
  .slider-content {
    left: 17%;
  }
  .box_class .owl-carousel .owl-dots.disabled,
  .box_class .owl-carousel .owl-nav.disabled {
    display: none !important;
  }
  .owl-carousel .owl-item .item-slide img {
    height: 300px !important;
  }
  .slider-content h1 {
    font-size: 30px;
  }
  .slider-content a {
    font-size: 14px;
    padding: 8px 17px;
  }
  .slider-content p {
    width: 70%;
  }
}
