<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="item-slide">
      <img src="images/imageBanner/slider1.png" alt="slider 1">
      <div class="slider-content">
          <h1>Superhero Dads</h1>
          <p>Books about growing and learning with Dad.</p>
          <a href="#" class="btn btn-primary">Xem thêm <i class="fa-light fa-arrow-right"></i></a>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="item-slide">
      <img src="images/imageBanner/slider2.png" alt="slider 2">
      <div class="slider-content">
          <h1>Superhero Dads2</h1>
          <p>Books about growing and learning with Dad.</p>
          <a href="#" class="btn btn-primary">Xem thêm <i class="fa-light fa-arrow-right"></i></a>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="item-slide">
      <img src="images/imageBanner/slider3.png" alt="slider 3">
      <div class="slider-content">
          <h1>Superhero Dads3</h1>
          <p>Books about growing and learning with Dad.</p>
          <a href="#" class="btn btn-primary">Xem thêm <i class="fa-light fa-arrow-right"></i></a>
      </div>
    </div>
  </ng-template>
</owl-carousel-o>