<!-- src/app/chuyen-de/chuyen-de-list/chuyen-de-list.component.html -->
<div class="container">
    <h1 class="page-title">{{'list_of_topics' |translate}}</h1>
    <p class="page-desc">{{'Explore_the_latest_topics_in_the_library' | translate}}</p>
  
    <!-- Thanh tìm kiếm -->
    <div class="search-bar">
      <input
        type="text"
        placeholder="{{'search_by_topic' | translate}}"
        [(ngModel)]="searchTerm"
        (ngModelChange)="searchChuyenDe()"
      />
      <button (click)="searchChuyenDe()"><i class="fa-regular fa-magnifying-glass icon-search"></i> {{'search' | translate}}</button>
    </div>
  
    <!-- Grid -->
    @if (chuyenDeList | async; as chuyenDeData) {
        <div class="grid">
            @for (chuyenDe of chuyenDeData | sortByCap; track chuyenDe.id) {
              <div class="card">
                <img [src]="getImageUrl(chuyenDe)" [alt]="chuyenDe.ten">
                <div class="card-content">
                  <div class="card-title">{{ chuyenDe.ten }}</div>
                  <div class="card-count">
                    {{ chuyenDe.slTaiLieu > 0 ? chuyenDe.slTaiLieu + ' ' + ['document' |translate] : 'no_documents_yet' |translate }}
                  </div>
                  
                  @if (chuyenDe.noiDung?.trim()) {
                    <app-preview-document class="fixHeight" [details]="chuyenDe.noiDung" />
                  }
                </div>
              </div>
            }
        </div>
          
      <!-- Phân trang -->
      <div class="pagination">
        <button
          [disabled]="pageIndex === 1"
          (click)="onPageChange(pageIndex - 1)"
        >{{'previous' | translate}}</button>
        <span>{{'page' | translate}} {{ pageIndex }} / {{ getTotalPages() }}</span>
        <button
          [disabled]="pageIndex >= getTotalPages()"
          (click)="onPageChange(pageIndex + 1)"
        >{{'next' | translate}}</button>
      </div>
    } @else {
      <div class="loading">...</div>
    }
  </div>