.login-form {
  max-width: 500px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
  background: rgb(0, 74, 173);
}

.ant-input-affix-wrapper {
  height: 40px;
}