<div *ngIf="isAuthenticated$ | async; else notAuthorized">
  <button nz-button [nzType]="'primary'" (click)="logout()"><span>{{'sign_out'|translate}}</span></button>
</div>
<ng-template #notAuthorized>
  <button nz-button [nzType]="'primary'" (click)="showModal()"><span>{{'login'|translate}}</span></button>
  <nz-modal [(nzVisible)]="isVisible" [nzTitle]="'login'|translate" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
    [nzFooter]="null">
    <ng-container *nzModalContent>
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control [nzErrorTip]="'please_input_your_username'|translate">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="username" [placeholder]="'username'|translate" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzErrorTip]="'please_input_your_password'|translate">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" [placeholder]="'password'|translate" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <div nz-row class="login-form-margin">
          <div nz-col [nzSpan]="12">
            <label nz-checkbox formControlName="remember" for="">
              <span>{{'remember_me'|translate}}</span>
            </label>
          </div>
          <div nz-col [nzSpan]="12">
            <a class="login-form-forgot">{{'forgot_password'|translate}}</a>
          </div>
        </div>
        <button nz-button class="login-form-button login-form-margin"
          [nzType]="'primary'">{{'login'|translate}}</button>
        {{'or' | translate}}
        <a>{{'register_now'|translate}}!</a>
      </form>
    </ng-container>
  </nz-modal>
</ng-template>