.login-form {
  max-width: 500px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
  background: rgb(0, 74, 173);
}

.ant-input-affix-wrapper {
  height: 40px;
}
.ant-picker-input > input::placeholder {
  color: transparent !important;
}

/* Ẩn mặc định */
.mobile-only,
.desktop-only {
  display: none;
}

/* Desktop ≥ 992px: hiện nút */
@media (min-width: 992px) {
  .desktop-only {
    display: inline-flex;
  }

  .profile-button {
    // padding: 4px 10px;
    font-size: 14px;
    height: auto;
  }
}

/* Mobile & Tablet < 992px: hiện link */
@media (max-width: 991.98px) {
  .mobile-only {
display: inline;
        font-size: 14px;
        color: #2c4aaa;
        cursor: pointer;
        text-decoration: underline;
        // margin-left: -15px;
        font-weight: 700;
  }
}


