.item-title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  // display: -webkit-box;
  // -webkit-line-clamp: 2;
  // -webkit-box-orient: vertical;
  overflow: hidden;
  &.item-title--over {
    position: relative;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      //fade from bottom to top
      background: linear-gradient(rgba(255, 255, 255, 0), #fff);
      height: 70%;
      width: 100%;
      z-index: 99;
    }
  }
}

.item-thumbnail {
/*  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);*/
/*border-radius: 8px;*/
/*  height: 260px;*/
  overflow: hidden;
  position: relative;
  margin: 0 0 20px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, .3);
  border-radius: 5px;
  &:before {
    content: "";
    position: absolute;
    z-index: 9;
    width: 12px;
    margin: 0;
    top: 0;
    height: 100%;
    border-radius: 5px 0 0 5px;
    background: linear-gradient(
      90deg,
      hsla(0, 0%, 100%, 0.22) 19.38%,
      rgba(0, 0, 0, 0.15) 51.67%,
      rgba(0, 0, 0, 0.34) 64.17%,
      hsla(0, 0%, 82%, 0.27) 75.63%,
      hsla(0, 0%, 100%, 0) 94.38%
    );
    mix-blend-mode: normal;
    opacity: 0.3;
    bottom: 0;
    left: 0;
  }
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 280px;
    width: 216px;
    object-fit: fill;
    max-width: unset;
    overflow: hidden;
    
  }
}

.item-wrapper{
  position: relative;
  transition: all 0.4s;
  &:hover {
    transform: translateY(-10px);
  }
}

.item-thumbnail{
/*  width: 216px;*/
  height: 280px;
  object-fit: cover;
}

@media (max-width: 992px) {
  .item-thumbnail {
    width: 145px;
    height: 192px;
    img {
      width: 145px;
      height: 192px;
      max-height: unset;
      max-width: unset;
      object-fit: fill
    }
  }
}