<div class="searchBar">
  <div class="container">
    <app-home-search-advanced (searchResultsChange)="searchList($event)" />
  </div>
</div>


<div class="list_book_search modalStand">
  <div class="container">
    <div class="wrap-flex">
      <div class="modalStand_box">
        <div class="title-result">
        </div>
        <form [formGroup]="formCriteriaFilter" class="shadow">
          <div class="advSearch">
            <h3>{{'filter_criteria'|translate}}</h3>
            <nz-form-item>
              <div class="widget_searchAdv">
                <div class="d-flex items-center">
                  <h3><i class="fas fa-books"></i> {{'book_series'|translate}}</h3>
                  <button nz-button nzType="link" (click)="handleClear('bmTuDienBoSachId')"
                    [disabled]="!canClearBoSach">
                    <i class="fa-solid fa-arrows-rotate"></i>
                  </button>
                </div>
                <div class="w-full max-h-[200px] w-[300px] overflow-y-auto overflow-x-auto rounded p-2">
                  <nz-select formControlName="bmTuDienBoSachId" nzMode="multiple"
                    nzPlaceHolder="{{ 'book_series' | translate }}" [nzMaxTagCount]="5" class="w-full">
                    <nz-option *ngFor="let item of boSach" [nzValue]="item.id" [nzLabel]="item.ten">
                      <span class="block truncate w-full" [title]="item.ten">{{ item.ten }}</span>
                    </nz-option>
                  </nz-select>

                </div>
              </div>
            </nz-form-item>

            <nz-form-item>
              <div class="widget_searchAdv">
                <div class="d-flex items-center">
                  <h3><i class="fas fa-list"></i> {{'document_type'|translate}}</h3>
                  <button nz-button nzType="link" (click)="handleClear('bmDmDangTaiLieuId')"
                    [disabled]="!canClearDangTaiLieu">
                    <i class="fa-solid fa-arrows-rotate"></i>
                  </button>
                </div>
                <div class="max-h-[200px] overflow-y-auto w-[300px] rounded p-2">
                  <nz-select formControlName="bmDmDangTaiLieuId" nzMode="multiple"
                    nzPlaceHolder="{{ 'document_type' | translate }}" [nzMaxTagCount]="5" class="w-full">
                    <nz-option *ngFor="let item of dangTaiLieus" [nzValue]="item.id" [nzLabel]="item.ten"></nz-option>
                  </nz-select>
                </div>
              </div>
            </nz-form-item>

          </div>
        </form>
      </div>
      <div class="modalStand_box">
        <div class="title-result mb-2">
          <p>{{'found'|translate}} <span>{{booksSearched.totalRecord}}</span> {{'results'|translate}}</p>
        </div>
        <div class="box_result_book">
          @for (book of booksSearched.data; track $index) {
          <app-book-item [book]="book"></app-book-item>
          }
        </div>
        <div class="page_sort_item">
          <div class="item_page_detail">
            <div class="d-flex align-items-center groupSelect">
              <label for="numberSelect" class="form-label">{{'show'|translate}}</label>
              <nz-select [ngModel]="pageSize" (ngModelChange)="handleChangePageSize($event)" id="numberSelect">
                @for (size of pageSizes; track $index) {
                <nz-option [nzValue]="size" [nzLabel]="size"></nz-option>
                }
              </nz-select>
            </div>
          </div>
          <div class="item_page_detail">
            @if(booksSearched.totalRecord) {
            <div class="showPage">
              <span>{{pageIndex+1}}/{{pageTotal}}</span>
              <button class="btn pre-btn active" (click)="this.handleChangePage(true)"><span class="btnPre"
                  aria-label="Previous">‹</span></button>
              <button class="btn next-btn active" (click)="this.handleChangePage(false)"><span class="btnPre"
                  aria-label="Next">›</span></button>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>