@if (currentDocument) {
<div class="info-detail-section">
  <div class="container">
    <div class="box-info-detail">
      <h2>{{'details'|translate}}</h2>
      <div class="group-info-detail">
        <div class="itemColumnInfo">
          <div class="img-itemColumnInfo">
            <p>
              <span class="leftSideBookSearch"></span>
              <img [src]="currentDocument.anhDaiDien || '/img/imageBook/book_default.svg'" alt="" />
            </p>
          </div>
          <div class="img-itemColumnInfo">
            <h3 [nzTooltipTitle]="currentDocument.tieuDe" nzTooltipPlacement="bottomCenter" nz-button nz-tooltip>
              {{currentDocument.tieuDe}}</h3>
            <p class="line-clamp-4">
              {{ currentDocument.tomTat }}
            </p>
            <!-- <app-preview-document class="fixHeight" [details]="currentDocument.tomTat" /> -->
            <div class="box-btn-info">
              <button class="btn btn-read"
                [disabled]="!currentDocument?.dsBanSo || currentDocument.dsBanSo.length === 0"
                (click)="isLogin ? showModal() : showLoginWarning()">
                <i class="fa fa-folder-open"></i> {{'read_a_book' | translate}}
              </button>

              <!-- Nút Đặt mượn: chỉ disable nếu isEmptyDKCB = true -->
              <button class="btn btn-read" [disabled]="isEmptyDKCB" *ngIf="!dadatMuonTaiLieu"
                (click)="isLogin ? datMuonTaiLieu() : showLoginWarning()">
                <i class="fa fa-solid fa-book"></i> {{'borrow_book' | translate}}
              </button>

              <!-- Nút Hủy đăng ký: chỉ disable nếu isEmptyDKCB = true -->
              <button class="btn btn-danger" [disabled]="isEmptyDKCB" *ngIf="dadatMuonTaiLieu"
                (click)="isLogin ? huyDangKyDatMuon(currentDocument.id) : showLoginWarning()">
                <i class="fa fa-solid fa-close"></i> {{'bdbandoc_huy_yeu_cau_dang_ky_dat_muon' | translate}}
              </button>




            </div>

            <div class="box-love-book">
              <button class="btn btn-love-book" (click)="isLogin ? toggleFavorite() : showLoginWarning()">
                <i
                  [ngClass]="currentDocument.laTaiLieuQuanTam === 1 ? 'fa fa-heart text-danger' : 'fa fa-regular fa-heart'"></i>
                {{ (currentDocument.laTaiLieuQuanTam === 1 ? 'unlike' : 'like') | translate }}
              </button>
            </div>
          </div>
        </div>
        <div class="itemColumnInfo">
          <div class="info-author">
            <app-share-buttons
              [url]="encodedUrl"
              [title]=""
              [showLabel]="true">
            </app-share-buttons>
            <div class="box-profile">
              <ul>
                <li *ngIf="getPropertyValue(currentDocument, 'tacGia[0].giaTri')">{{'author'|translate}}: <a
                  [href]="'/search-results?tacGia=' + cleanText(currentDocument.tacGia[0]?.giaTri)" >{{currentDocument.tacGia[0].giaTri}}</a>
                </li>
                <li *ngIf="currentDocument.thongTinXuatBan">{{'publication_information'|translate}}:
                  <span>{{currentDocument.thongTinXuatBan}}</span>
                </li>
                <!-- <li>{{'publisher'|translate}}: <a href="#">Room to Red</a></li>
                <li>{{'book_series'|translate}}: <a href="#">Cánh diều</a></li>
                <li>{{'storage_location'|translate}}: <span>Sách thiếu nhi (3): STN000001-03</span></li> -->
              </ul>
            </div>
            <div class="box-profile pt-5">
              <ul class="nav_social mt-5">
                <li nz-tooltip nzTooltipTitle="{{'view'|translate}}">
                  <i class="fa fa-regular fa-eye"></i>
                  <span>{{ currentDocument.slXem }}</span>
                </li>

                <li nz-tooltip nzTooltipTitle="{{'bmtailieuds_so_ban_so'|translate}}">
                  <i class="fa fa-solid fa-file-pdf-o"></i>
                  <span>{{ currentDocument.slBanSo }}</span>
                </li>

                <li nz-tooltip nzTooltipTitle="{{'bmtailieuds_so_ban_in'|translate}}">
                  <i class="fa fa-solid fa-book"></i>
                  <span>{{ currentDocument.slBanIn }}</span>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
    @let docs$ = docs | async;
    @if (docs$) {
    <div class="box-stand pt-5">
      <div class="container pdlr0">
        <app-s-slider [children]="maybeYouLike" title="{{'you_may_also_like'|translate}}" [data]="docs$"></app-s-slider>
        <ng-template #maybeYouLike let-item="item">
          <app-book-item-slider [book]="item" />
        </ng-template>
      </div>
    </div>
    }
  </div>
</div>

<nz-modal nzWidth="100vw" [(nzVisible)]="isVisible" nzTitle=" {{currentDocument.tieuDe}}" [nzFooter]="null"
  [nzStyle]="{ top: '0px', 'max-height': '100vh', 'overflow-y': 'scroll' }" (nzOnCancel)="handleCancel()"
  (contextmenu)="onRightClick($event)">
  <ng-container *nzModalContent>
    <div style="display: flex; height: 100%;" (contextmenu)="onRightClick($event)">
      <nz-splitter>
        <nz-splitter-panel nzDefaultSize="20%" nzMin="10%" nzMax="30%">
          <div class="box" style="height: 100vh; overflow-y: auto;">
            <nz-tree [nzData]="treeStructureDisplay" (nzClick)="onSelectTree($event)"
              [nzSelectedKeys]="selectedSection ? [selectedSection.id] : []" nzShowLine nzShowIcon></nz-tree>
          </div>
        </nz-splitter-panel>
        <nz-splitter-panel>
          <div class="box">
            <div class="content-area"
              style="flex-grow: 1; margin:0; padding: 0; display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%; overflow-y: auto;">
              <ngx-extended-pdf-viewer *ngIf="selectedSection?.tepTinDinhDang === '.pdf' && currentContentUrl"
                [src]="currentContentUrl" useBrowserLocale="false" height="90vh" [useBrowserZoom]="false"
                [showToolbar]="true" [showSidebarButton]="true" [showFindButton]="false" [showPrintButton]="false"
                [showDownloadButton]="false" [showBookmarkButton]="true" [showPresentationModeButton]="true"
                [showRotateButton]="true" [showHandToolButton]="false" [showScrollingButton]="true"
                [showSpreadButton]="true" [showSecondaryToolbarButton]="true" [showZoomButtons]="true"
                [showPagingButtons]="true" [showOpenFileButton]="false" [showPropertiesButton]="false"
                (contextmenu)="onRightClick($event)" style="display:block;width:100%;">
              </ngx-extended-pdf-viewer>


              <ng-container *ngIf="selectedSection && currentContentUrl">
                <audio *ngIf="selectedSection.tepTinDinhDang === '.mp3'" [src]="currentContentUrl" controls
                  controlsList="nodownload" (contextmenu)="onRightClick($event)" style="max-width: 100%;">
                </audio>

                <video *ngIf="selectedSection.tepTinDinhDang === '.mp4'" [src]="currentContentUrl" controls
                  controlsList="nodownload" (contextmenu)="onRightClick($event)"
                  style="max-width: 100%; max-height: 80vh;">
                </video>
              </ng-container>


            </div>
          </div>
        </nz-splitter-panel>
      </nz-splitter>
    </div>
  </ng-container>
</nz-modal>

}



<!-- <app-s-slider title="Sách giáo khoa1" [data]="docs$"></app-s-slider> -->