@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://kit-pro.fontawesome.com/releases/v6.7.2/css/pro.min.css);
body {
  font-family: "Roboto", serif;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  outline: 1px solid #ccc;
  border-radius: 6px;
}

img {
  max-width: 100%;
}
.modal-backdrop.show {
  opacity: 0.5 !important;
}
.form-check-input:checked {
  background-color: #004aad;
  border-color: #004aad;
}
.btn {
  border-radius: 5px !important;
}

/*banner*/
.item-slide {
  position: relative;
}
.bannerTop .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  padding: 0 20px;
}

.bannerTop .owl-nav .owl-prev,
.bannerTop .owl-nav .owl-next {
  background: #fff !important;
  color: #fff;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  pointer-events: auto;
  cursor: pointer;
  border: solid 1px #000 !important;
}
.bannerTop .owl-nav button span {
  font-size: 32px;
  top: 2px;
  position: relative;
}
.bannerTop .owl-nav .owl-prev {
  /*    left: -20px !important; */
}

.bannerTop .owl-nav .owl-next {
  /*    right: -20px !important; */
}
.bannerTop .owl-dots {
  display: flex;
  /*  background: #ccc;*/
  position: absolute;
  bottom: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.bannerTop .owl-dots button {
  height: 8px;
  width: 8px;
  background: #ccc;
  margin: 10px;
  border-radius: 50%;
}
.bannerTop .owl-dots button.active {
  background: #000;
}

.slider-content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  color: #fff;
  text-align: left;
}

.slider-content h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 10px;
  color: rgba(5, 31, 77, 1);
}

.slider-content p {
  font-size: 16px;
  margin: 0 0 15px;
  color: rgba(5, 31, 77, 1);
}

.slider-content a {
  color: #fff;
  text-decoration: none;
  background-color: rgba(0, 74, 173, 1);
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}
.slider-content a i {
  margin-left: 3px;
}

.slider-content a:hover {
  color: #fff;
  background-color: #0056b3;
}
.fa-light {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

@media (max-width: 992px) {
  .slider-content {
    left: 11%;
  }
  .box_class .owl-carousel .owl-dots.disabled,
  .box_class .owl-carousel .owl-nav.disabled {
    display: none !important;
  }
  .owl-carousel .owl-item .item-slide img {
    height: 250px !important;
  }
  .slider-content h1 {
    font-size: 25px;
  }
  .slider-content a {
    font-size: 14px;
    padding: 8px 17px;
  }
  .slider-content p {
    width: 80%;
  }
  .bannerTop .owl-nav {
    display: none !important;
  }
}

@media (max-width: 769px) {
}

@media (max-width: 600px) {
  .slider-content {
    left: 10%;
  }
}

/*================================================*/
/*search*/
.searchBar {
  margin-top: 50px;
}
.inputSearch {
  max-width: 600px;
  margin: 0 auto;
}
.inputSearch input {
  border: solid 2px rgba(0, 74, 173, 1);
  border-radius: 10px;
  position: relative;
  height: 50px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-size: 30px;
  padding-left: 42px;
  background-position: 10px 10px;
}
.inputSearch input {
}

.inputSearch button {
  background: rgba(0, 74, 173, 1);
  border-radius: 10px !important;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputSearch button svg {
  width: 30px;
}

#searchModal .modal-lg {
  max-width: 650px;
}
#searchModal .modal-body {
  padding-left: 40px;
  padding-right: 40px;
}
#searchModal .modal-header {
  position: relative;
  border: none;
  padding-top: 30px;
}
#searchModal .modal-header h5 {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
}
#searchModal .modal-header button {
  position: absolute;
  right: 15px;
  top: 15px;
}
#searchModal .modal-body label {
}
#searchModal .modal-body input,
#searchModal .modal-body select {
  height: 45px;
}
#searchModal .modal-footer {
  justify-content: center;
  gap: 25px;
}
#searchModal .modal-footer button#resetButton {
  background: #fff;
  color: rgb(0, 74, 173);
  border: solid 1px #ccc;
}
#searchModal .modal-footer button {
  width: 150px;
  background: rgb(0, 74, 173);
  color: #fff;
  font-size: 16px;
}

#searchModal .modal-footer button:hover {
  background-color: #2775db !important;
  color: #ffffff !important;
  border: none;
}

/*================================================*/
.box-stand {
  padding: 50px 0;
}
.box-stand h2.the-title {
  font-size: 30px;
  margin: 0;
  font-weight: 700;
}
.categories_section h2 {
  text-transform: uppercase;
}
.box_class {
  margin-top: 40px;
}
.classSlider .owl-stage .item-class {
  text-align: center;
  /*  box-shadow: 3px 3px 8px rgba(0, 0, 0, .3);*/
  border-radius: 6px;
  padding: 0px;
}
.classSlider .owl-stage .item-class:before {
  /*  content: '';
  position: absolute;
  z-index: 100;
  width: 12px;
  height: 100%;
  border-radius: 5px 0 0 5px;
  background: linear-gradient(90deg, hsla(0, 0%, 100%, .22) 19.38%, rgba(0, 0, 0, .15) 51.67%, rgba(0, 0, 0, .34) 64.17%, hsla(0, 0%, 82%, .27) 75.63%, hsla(0, 0%, 100%, 0) 94.38%);
  mix-blend-mode: normal;
  opacity: .3;
  left: 0;*/
}
.item-books-1 {
}
.item-books-1 a {
  font-size: 16px;
  color: rgba(36, 36, 36, 1);
  font-weight: 500;
  position: relative;
}

.item-books-1 a img {
  position: relative;
}
.item-books-1 p {
  position: relative;
}
.item-books-1 p:before {
  content: "";
  position: absolute;
  z-index: 100;
  width: 12px;
  height: 100%;
  border-radius: 5px 0 0 5px;
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0.22) 19.38%,
    rgba(0, 0, 0, 0.15) 51.67%,
    rgba(0, 0, 0, 0.34) 64.17%,
    hsla(0, 0%, 82%, 0.27) 75.63%,
    hsla(0, 0%, 100%, 0) 94.38%
  );
  mix-blend-mode: normal;
  opacity: 0.3;
  left: 0;
}
.item-books-1 span {
}
.item-stand {
  transition: 0.4s;
}
.item-stand:hover {
  /*  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);*/
  transform: translateY(-10px);
}
.owl-carousel .owl-item img {
  max-height: 518px;
  object-fit: cover;
}

.classSlider .owl-stage .item-class:hover {
  /*  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);*/
}

.item-books-1 span {
}
.classSlider .owl-stage .item-class a {
  display: block;
  font-size: 16px;
  font-weight: bold;
}
.classSlider .owl-stage .item-class a img {
/*  width: 112.5px;*/
  margin: 0 auto;
}
.classSlider .owl-stage .item-class a span {
  display: block;
  margin-top: 30px;
  color: #000;
}

.classSlider .owl-nav {
  display: none !important;
}

.classSlider .owl-dots {
  background: none;
  /*    width: 80px;*/
  margin: 0 auto;
  border-radius: 6px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
  margin-top: 10px;
}
.classSlider .owl-dots button {
  width: 8px;
  height: 8px;
  background: rgba(166, 166, 166, 1);
  border-radius: 50%;
}
.classSlider .owl-dots button.active {
  background: #000;
}

.page_sort_item {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(241, 243, 244, 1);
  padding: 15px;
}

.item_page_detail {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
}

.groupSelect {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
}

.groupSelect label {
  margin: 0;
  white-space: nowrap;
}
.showPage {
  display: flex;
  align-items: center;
  gap: 8px;
}
.showPage span {
}
.showPage button {
  font-size: 14px;
  background: #dedede;
  margin: 0;
  padding: 0;
  color: #737373;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  cursor: pointer;
  border: solid 1px #000 !important;
}
.showPage button.active {
  background: #fff;
  color: #000;
}
.showPage button.active span {
  color: #000;
}
.showPage button span {
  font-size: 32px;
  top: -2px;
  position: relative;
  line-height: 0;
  color: #737373;
}

app-root .ant-spin-nested-loading > div > .ant-spin {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-height: unset;
  justify-content: center;
  align-items: center;
  display: flex;
}
.rightBar .mbForm .ant-select-selector {
  border: solid 1px rgb(0, 74, 173) !important;
  color: rgb(0, 74, 173);
  font-size: 14px;
  height: 45px !important;
  display: flex;
  align-items: center;
  width: 125px !important;
  border-radius: 5px;
}
.rightBar .ant-btn {
  background: rgba(0, 74, 173, 1);
  color: #fff;
  margin: 0 !important;
  font-size: 16px;
  font-weight: 500;
  height: 45px;
  width: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.ant-form-item {
  margin-bottom: 10px !important;
}
.cdk-virtual-scrollable {
  overflow: hidden !important;
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  border-bottom: solid 1px #737373;
}
.ant-select-dropdown {
  border: solid 1px rgb(0, 74, 173);
}
.ant-modal-header {
  border-bottom: none !important;
}
.ant-modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border: none !important;
  padding-bottom: 30px !important;
}
.ant-modal-footer button {
  width: 200px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  background-color: white;
  border: 1px solid #d5d5d5;
  color: rgba(21, 66, 144, 1);
  cursor: pointer;
}
.ant-modal-footer button:last-child {
  background-color: rgba(21, 66, 144, 1);
  color: #fff;
}
.ant-modal-title .ng-star-inserted {
  text-align: center;
  margin: 5px 0 0 0;
  font-size: 20px;
  font-weight: bold;
}
.ant-modal-body h4 {
  display: none;
}
.ant-form-item-label > label {
  font-size: 16px;
  font-weight: bold;
}

.ant-input-group input,
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  width: 100% !important;
  padding: 0 20px !important;
  /* margin: 10px 10px 20px 0px; */
  display: inline-block;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  height: 46px !important;
  line-height: 46px;
  font-size: 16px;
  color: rgb(0, 74, 173);
}
.ant-select {
  display: flex !important;
}
.ant-result-extra .ant-btn {
  background: #004AAD;
  height: 45px;
  border-radius: 5px;
  font-size: 16px;
}
.anticon svg {
  display: none !important;
}

.ant-select-selection-item {
  position: relative;
  &:after {
    visibility: inherit !important;
    content: "" !important;
    width: 100px !important;
    height: 10px;
    position: absolute;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23737373' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E") right 10px center no-repeat;
    opacity: 1;
    z-index: 9999;
    right: -13px;
    top: 5px;
    display: flex !important;
    background-size: 15px !important;
  }
}
.pdlr0 {
  .box-stand {
    .container {
      padding: 0;
    }
  }
}

@media (max-width:992px) {
  .owl-theme .owl-nav {
    display: none !important;
  }
  .ant-select-selection-item:after {
    top: -10px;
  }
}

@media (max-width: 769px) {
  .bannerTop .owl-nav {
    display: none !important;
  }
  .viewmore {
/*    display: none;*/
  }

}

.capitalize {
  text-transform: capitalize;
}
